<!doctype html>
<html lang="en">

<head>
  <title><%=name%> || HRM</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="icon" type="image/x-icon" href="https://allchannels.com.ng/BADES.jpg">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <style>
    .go-corner {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 32px;
      height: 32px;
      overflow: hidden;
      top: 0;
      right: 0;
      background-color: #50735D;
      border-radius: 0 4px 0 32px;
      cursor: pointer;
    }

    .go-arrow {
      margin-top: -4px;
      margin-right: -4px;
      color: white;
      font-family: courier, sans;
    }

    /* card 2 */
    .card2 {
      display: block;
      top: 0px;
      position: relative;
      max-width: 262px;
      background-color: #f2f8f9;
      border-radius: 4px;
      padding: 32px 24px;
      margin: 12px;
      text-decoration: none;
      z-index: 0;
      overflow: hidden;
      border: 1px solid #f2f8f9;
      font-family: 'Dancing Script', cursive;
      font-family: 'Nova Square', sans-serif;

      &:hover {
        transition: all 0.2s ease-out;
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        top: -4px;
        border: 1px solid #cccccc;
        background-color: white;
      }

      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        background: #00838d;
        height: 32px;
        width: 32px;
        border-radius: 32px;
        transform: scale(2);
        transform-origin: 50% 50%;
        transition: transform 0.15s ease-out;
      }
    }

    &:hover:before {
      transform: scale(2.15);
    }
  </style>
  <link rel="stylesheet" href="/sale.css" />
</head>

<body>
  <header>
    <%-include('./partials/Notification.ejs')%>
    <%-include('./partials/inactive.ejs')%>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- place navbar here -->
    <nav  class="dash navbar navbar-light bg-light fixed-top ">
      <div class="container-fluid">
        <span class="navbar-brand">
          <a class="navbar-brand" href="/api/v1/Dashboard/<%=user._id%>" title="Apps">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAACXBIWXMAAAsTAAALEwEAmpwYAAAVe0lEQVR4nO1de3RV1Zk/tgvrtJ2RP8bprM60IsvV6XLVtnbWaisCQwyvICbyCCEhEAR5PxIgPJIAImgFCiZIeQQiiKAJqOEhQoJIKC81g4EEEwQDBsiTJDd370todWa6Z/1Ozrl3n3PPPo97TwLVu9f6FneFc863v+/be397f68tSZEWaZEWaZEWaZEWaZEWaZEWaZEWaW60lpaWf/L5fAmU0jcppR8TQmoJIV9TStsopZcJIYWEkHltbW0PhYOHMfYdr9c7gFK6hhBySsFzWwH8Pkkp/aPP5+uPZ8PB5fV6exJC0gkhe0EDaA
                        FNwAMaKaW7fD7fKNAu3S3t9u3bP6GUbieEfEUpZVZACPkbIeRDSmlvJ3gYY9+DQAkhN+zgUXBdJ4TMYYzd6wQXpbQPIaQEfbWJ56+U0tfa29v/XbpTjTH2XULIckLIX+wyyICQ/La2tu52GEQpvRIqHkpptZ0BgL4QQgrCoAezdBl4I3Vl83g891NKD4fBIB6u+ny+X4hwEULmEkL+J1w8+AYhJE2Ex+fzPYq+uEGTx+Mp6rJlDMIghFxwSRgqs276fL5f6nFRSpe4iUeBLD2eW7du/YoQ0uwmnsbGxktXrly5v1OFASVJKX1P1Inr1+rZzteL2Oxp69iIpxez/n3msGeGZLLnxq1im9bvZZWfXTETSsOtW7f+VcXl9XqTRM96vV5WfPhj9sLibWxM/HI2KGqeDEnxy9kLS7axI0
                        WfMK+XmOEap+Lx+Xz/oihpw2crL1SzjesLZRpAC2gCbaBx144iduN6vRBPdXV1aXx8/D90mkCgM4wQt7V52ZaN+9jgqHTW7/HZQoh6IpUtX7qd1dU2iogoAh5K6c8ppe1Gz5w6eZ6lJL5kigcwPukP7PTJchGeW4SQnym4jhg9U3ujUe4r+myGBzRv2bRf5oHRd44ePbpLkqRurgujvb3934yY1NBwk6VOX2fJIB4Shj0vjzwBs4ZTSg8Z/d9bO4vZk0+k2cYT3TuNvbXziAjPQUrpSKP/++xCtdxHJzSlzXhV5oX+Wx6P5+sRI0aMkiTpHlcFgq2t0czQCyNm4FI2buIONiP9EEvNOsZmLihmz07NZ3FPv6x5bmTsEnatps6IUS1GTNr37p+1zO4zjyUkbmRTUvex2RkfyjBl9j6WkLRR/
                        j/+2f2FJ0RCCcJVU1Mn9y3wfiqLi31ZpgG0gCbQNm7CDjZk4NIgoRjNlDNnzpRIkvSo24o86JyRu2FfoEO9Ulni2C0sbXEJS1t83BAmTCtgT3LMAgGi9ZdycOnzGjag71z/e0/FvMBmLigS4gHj8Iz6/MD/mscuX6qxhSttRmCAoa/oswhPalYJS0zOlWlX38HyFTxw277u2bNniiRJ33dFIF6vN9FIgfM6o0MYxy3huRl7WBRHwInjZZZMWpKxNTADByyRZ4MVHjyDZ9X3lmbkWeL5c0lZQN/1SmMTZ7xtiyZZKJxOMVL0OTk56yRJ+p0rAoGJQI9g5/bDGiZhtNjpPGBkfGAUZi3YYsqkutpGWReoyweWJbt4pqTt949e6B4oajNcGfMDjB0Z/6ptPFgVYgYFli/svvTfLi0tPSlJUoIrC
                        p5SWqpHMHtqjr8D0Bn2O3+cTZt7UDOiPJ42IZMO7DvJLVXLHeEBDI1Z7n//4P5TQjye1jZ566w+O33e+47wQKeo70KvBuummuuSJCVKkvTTsAViZD/iFR+UnFNGDYha6H//6pUbQkZt/tNe/3Ojx2xyjCchaZP//dyN+4R4qr+47n9uQNQix3impx/yvx8ftyTo+62tre2KQB53QyBBCp1Xsth5OCVgyKDAtvLTsxeFjFr10i7/c8njtzvGg3fU9/EtER70QX0OfXOKBzzwC7Tv3KDve73e/1UEMiRsgSgmdA2CuJhMfwfMdjwiGBSd4X//84tfChn1p5x3HG8cRAp3w7p3hXg+r7rqf25QdJZjPNjZqe/jRK//fktLi08RyEg3BPKFHsGklFX+DmCP7qzzRbKCVg9vzc2tQkbtfuuoHw/OA04ZxZ9/9uQfFeJpvtmq2TzMXFjsCA94oOKZ/OzqoO/X1tY2KAIZHbZA4FzSI4Btys+op50xKmnsFv+7sAmZ7Xy+uHwtcC54Yg6bMd/+bJyRflh+R30fesIM16yp2f5nk8ZtdURTbGxA8Js3BOuqsrKyjxWBjHBDIOl6BDB98GaMCVPFBygesHvhT9KFb5eYMolSyqY9t5abJStND58BKGHPxK4M7JomrbXE8+6eEs4SkG57p8XPDvDEyIhaUFCwUxHI0LAF0tbW1oMQ8n96JDC+8adaHPqshDE4Osv/ztiEFUKjHOXgo9MVGhNF/Kh1FkIpYSNHBbblgI/OVFjiQV+SR60IbMn7Z1kK5bnpb2usDy8+/3rQd+F5jImJSVUE4shTajZLPjQ6tPFGOJzAcejDOUOjMxYWy8sUPzMG9ZvHyj4V766oDrL/WKBh8JBBy+RZyR9IsdPB3/gdHCB7zW7beLDbgqmFnynou16ngMaR8Tkaq8Po4ctYfV1T0DerqqrKFWEAfu6WQB438jFj6dIa49S9/EL59DooGrsxrQkbwoA/wy6TqOID4U0oAYbNky0FAH6k8iYTvOsEV/GhjzRCURU9dl+giT9D8WcPkb8nLS3teU4gP3RFIIpQ8o0Qwmo7Z+arQZ00AiwJTmYG1U59tm3rQTawXzDj9YBntucdlN8JBRdmCr98mQFoh23P6Dtnz549zQkjSnKzIQjALNjgxPFzsm1K76jCdhK7KShwOzqDWsCXV2vZurV75CVCzxz87dVX3mY1X9aGjQd9haJH3wNbYsV+92Q6W7xwi0yz6P2GhobmRx55ZBInkAcktxsCEuADNyMEdqEr1TfYuU8/lw99LSbnjHDhxo0GVlF+WQb87iw8oAG0gCbQBhrNnm9qaiKJiYnzOWH0cl0YnFB+6SQ+6tsGDQ0NrcnJyQs4YcRKkuQoNsxxo5Q+AB/4nSae3mVQWVl57rHHHpvCCWOYJEmdG32iE8xwkdv12wTNzc2+1atXv8IJAhAnSVL3rhQGokPev9PMoHcJXLhwoWz48OFzFWH0kyTpe10mDEJIMsJp7jQT6F0GHo/nq7KysnSpK1snRRSybxLU1dUt7xJhINbWtCO1jWz/3hOyxRMOIfgzCt78QLbaukmw1+uVg+ZwUFyzMl+G17a8JwfHOT2ZWwH6DhpAC2gCbXAtG5lJeDh79uyLnS2M3ys5H4ahOjBtmAWywWoLQ2E4zGlpaWU7th1icYMDDi49wHn2xvbD8rPh4DpzqpxNnbhGiAeHRZhmRCFG8BLm5eWN7RRhID9DdEo/eOCUbJ+yY2YAvLxip2lgAzUZqXbCSPlw0lBmJmbY+uyAp9IK4LLd+85x0dLV2LNnT2F0f8gNyTKi8E69EQ7RIQhIgD8bblf4JXhHEQCzyYmd6YvL14JmBYIRYIpPHp8nA0zu+Jt+tjgRCvq0eJHWiIm+g4aksbkyTaANNOqNpqKw1fz8/B2umk0Q9Y5sJD0irOH8EoXQSoR2Gnrv5hfJziWeAKz/dpepFG5mgEFgjFEsGP6WPH6bZgBgpthdvqCH+D4+E7eKzZx/2JAmxIjxwXhYwowCvGHTuvfee3FaDyvFzt+UnL6gac0zCaGb1hGFJfKI5i2yMBRaMWnHtkCIDRg9eda7ll48PMMLBTrFCg/CkfiltyNYztw7CZr5sFUI32hTkZmZ+ZIkSf/hikCQYKlHgBwM/8joM0+OurDnfy6RnUvqu7DaWllc47ilCqPfrp87efxrmqXLaveVs2Z3YLYPRiiQvWhMzH7eF/NB8SdB3z5y5MgBxaYVfhQ8sl31CJAso3YAUeh2mQSYMG23xlxuxqTTJ8s1OsNJyCqe5XUKdk1muHjv58Rp5u5oPSDqXn0Xrm39ty9fvnxROcH/yA2B1OkRJI0MTNPJAr0hZtQxzYgyi7ndtjUQdgql7QSPPo749bz3hXgQIM3PeCeCV/WJ+j6yugz0SKsikF+7IZCgTFveCTU746hjRvHKsPz8JSGj1qx8K0BoymuO8YxJyfO/v3ZVvhDP+XOX/M+hb07xgAfq++CNkUlFEUh/NwRy222BDOYEUnH+solA8jn9kReWQF5ZXSDEg0ERlkAWfRB4P3q+gS5s+ytnAQ5bIEFJkUiwVDswJYQlK7r3XFtL1va8cJesnBCXrGNuL1ktikBGuSGQk0FKfQmn1JMcKvWpgZCexBGdq9QHchEiVmYbXqlj4+GEpoTEDaZK/dKlSxddEwildLW7294A4QhI6LRtb8o2R9tebME7a9tbVFS037UlC4Vc9AhAHA5BTg+G/K4HB0M70SFvcNladg+Gk2ZqD4bIn7fCg0MqH2JkHSHZocyHDOYOhmNwMAw2CWVkZLyoCCTarYIB14yWEz48Bspwcupe41GUflgTa2u1plMOYPbghd9hOtkmMJ0ck2eGxnQy5g+stdVjCxe/zZZnVuxKYYD35Nl7NZsT8MLorNPQ0HCzW7duSYpAfiW50VBVx4gAGNR4AmBwQxoZMpdk42Jyrhwdrzcuwmzt2LgYE8hJkWdY1EJ5xmEnBYAC53WGulRZRb3zgD6hb/w30HekQoAW0ATaOswlWuNi/q4PDL+5a9euHZyfPfyDIRpKHClVdVwxv4cSMHel+gabMFab7363m99ra2sbu3fvPpYLB7qnSxxUcNJgZOkj/HhASoCdKHRqAlh6oFP0s0U/K5AlbHeZEgF2ZXwqhMhBJRI6HFRz5sxZxs0OuZyHqw0ljsyIgFsT2a5IsIS7E2lkyFxysmxQm6MY6zX0EE7gAPwGEzvDhQsaQAtoAm2g0cqFq1uqhrpmftc3SmmmmwR/E6GwsDCfE8boTonr5ZvX6x1DKfXdacLpXQawWW3dujVXFzDn/lJl1FDiyKx+1rcNKioqymJjY+fohPGI1JWNUjoiEkpK5VDSNWvWZHOCgImkZ5cJApXYRMW/vs1QVVVVHh0dDfPIP3aZMJQahUFOqwhQmQcej6fBqIZkpzRU77QqGNmRsHNdTm65WHW1UxN2rl+rl/0pAFFamRsAGkBLR8LOdcuEnZaWlraKior/7FRhKCltV83qTWXOz9VU1ekwPaTJ1YOQHuZGStvVKzfkgASjMnz4G6y2dqJZrAB9fWf3MbmggD4iEzQifc+s3ldTU9PNFStWhFXJ27SJigyjLB5fic0MkEhpVmyGWtiZEDdlx0wDqy0MhSEnff53lexoskMTKuMJyhWigsPJTknYIYT0MkqL/kyYFr1ISYvOCjLCIeUYqcdOR+tiXUShbL7oM0+2uAL0tRbVCEmnJ/ciYVp0pkyT3oAJAA9EhT0zMjIWuZ7ShlroekRwvWoLB6TJPgR99YOZC47ItUOQhM8LxclMWbsq4FsHPDVomRyqoy0cUCJ7+vi4LwCKDtjFc7a0Sls4oG+63HfQwNM0be77sqWZLxwAXhiVwK2srLzgatInbjQwmh28Gxej06pGoVxao3+WZvmyo1POnCrXjkbLiEJthCTATtQ9+sIvUx2lNcyLs6GcCO8tXGFeWsMd84mo+EygyHCqafVOvVD4mQJFb8WoqVxKAGJt7Raf4WOJYbW1wgMFzs8MK2EYxQhYFJ9xp3CAcn+GuDxTbBjlmabmOCrPNFMQ+Cz0dXOOMSvfSDjlmfi6XChLqP92WVnZJ66V1jByTKEWutPSTH6dsrBYU8DM7JxS8GYg3gkuYCd4wipgptMZlrNkSkDHTRpvWsAs/OIzlFKv+yX+Mm2V+Fuf/Y0p8dfuWnmmSBHM424WwRz6910mdsO+b1qZ2PBL/FFKP9EjQIUctQMoIuyk89PmvqepqmO3kPLQEAop88k0VoWU+XhlnDOc4Bk7cYdpTXuukHL4RTAppTv1CBB4Fnqp8UC8LUocme186uuaQi41jrgpfvNQX2/uA4cdLpQ4YtCOWyHUd5F3qf92aWnpCdfKxCrX4QUFJ2uK8Sfn2uo8ahRqi/GL601RBfg4KfvF+I9qgtjsFOOHoTBgdUi1rCGpQuKYzZoZb1SMf+3atTmKQGLCFkhTU9MPlavhNEhwNYPmuorkXNOZguqd/Kl27qz1lkyiSogRb87ouK6i2PT8wYd34l278VlYbjTXVUy1uK5CFkZggOVtPmB4XcWDDz74rGulxtFwT18wIq+GADUTF+splFxq5jGZORAEX9dWVXxG/ovm5mbDwAlcyhJ0oUvSRjl0FbMBgN+IQtfXXoQeMvqmES5YbfXGUpxlcM4ALaAJtIFGPumoQ3esMzQFnT59+hjn2v2JKwJpb2//sejKI71QrAB5haKCkatXr34FVXVEYatmgXh6wLOi8M6KiopP4QM3+r/KkK48Wie68uirfv36zVCE4c51FWrDpYnCS8E27be8FAx2HhjfRJeCVVZWnkPHUeLI4/EELZHyaDtZrgm8FgECrEVJnh6P5y9qdAh84EbPoI/oq9WlYNAZWzeLLwU7cODAHm52/FZysyEK3uPxGF7YBYAye/ONYnm0YNr37zuHDXsqS66FjvOE2bV5SIp8jKvEVlpaOl30LML9kZ+CxBhYjDEQAPiNvyE/w+zavA0bNmxU8URFRcXCBy56Fn2GbQo0gBbQBNpAI2g1uzavsrLy/H333TeGi0Jx58ojvuEGS1yaKOpEKICCkboahf2ACyWO3MQDKCwsLODwxCM6BAEJ8IG7iaempqbmoYcemsDhcr/eidpwg2V1dfVHbnS8rq6uSVe9M46vxFZeXv4CzA7h4sE3dLG2gB4qnqqqqt/U19c3uhUwx+2q1AHm7rV5+paSknIfLk2E0gql03DaoMjwww8/PFFXMLK7HhdKHKGqTqgMQkqArrq0YURhVlbWg/CBh4oHmbbQGVxyjnrucP9iSUHrNmzYsJG4pw97bZsj9W9VVVUVs2bNWqpj0NNmwQAocYSqOijkYpdByFzCrODyM1TThVms7f0ZGRkL4HZFX20K4mtsbXv37j1dR1PfrhSG2jAVH+3Ro0dKdnZ2Dm4jg92mpaVFrseIf2tra+vhoIHXLDo6epau02qR4W42cD2Aqjoo5ILaIShXgc0AZikAv5HtWlRUdAA5fbqRqlpa7bhREZDQa8CAAbPR53PnzpWCBp4m0AhzCGjWLU+qAv9Fpy9TFu37yj19CQYMN4LRikvznx3i+Y5SVSfWJh41c+lnIeRnPKD0cbRNPAnK1rbzLiQOoXVTroZ7XFk/R3Bm56GKgwZesx+EieceJV/v10q5ijhlZI5SfkcrCZY/cmGk/kDpc2+FBp6mGIXWn96J5SnSIi3SIi3SIi3SIi3SIk36+2v/D2fJJsBcmNmHAAAAAElFTkSuQmCC" width="30" height="30">
          </a>
          <b>EMPLOYEE MANAGEMENT</b>
        </span>
        <!-- <a  >Setup Location</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <i class="bi bi-three-dots-vertical"></i>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header bg-dark-subtle dash ">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
              Menu
            </h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body ">
            <!-- uls -->
            <ul class="nav nav-tabs d-flex  align-content-center  " id="myTab" role="tablist">
              <%-include('./partials/USER.ejs')%>
              <%if(user.isAdmin || user.createStaff){%>
              <li class="nav-item " role="presentation">
                <button class="nav-link " id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false" title="Export List to Xlsx" onclick="">
                  <img height="30" width="30" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAAB90lE
                  QVR4nGNgGAWjYBSMgiEJxCYEZ4hNCP4oNjHkP6lY81A96fhg3Uetg3Xp1PQAWY4n2wOHwPgD9TxApuMp9MD/UQ/AwGgMHBpNQsM0CXEXWhRwF1p84Smy+E8RLrH8L9TsMSAe+EKx42G42OI/T4MrBpZck0o2ZiAEqOZ4GB71QOpoDPwXLrP9f+f1o/8gULVpEjx5aLUE/v/x+9f/b79+/NdpDR7cSShiXhnYA2++vP8vUekEFlt5didYrGHr9KGRB3ZdPw52cOO2Gf8te2L///339//tVw/BMTQkPGDSGfn/15/f/99/+/T/2L0L///9+/ffa1r20CqFphxc8R8Glp/ZPvSK0YUnNsE9sOLsDoIeEHf
                  XwsBC04LIxgyUeMBzahY42Zx6cPn/kbvnwZ7wn5k/NDwgXGb7/8aL+2BHg9K9/YQksGcevn32X6zCcfB7oHvPArDjd1w7ChfbdOkAWKx378LB7QGzrihw6QMqNq174+Dihh1h/3///QPGVr2xg9cDPBTgUQ9MG2kxwF1k/plqHigwHwAPFJrnUcUTBeb/hKL0v4m7a75Hx6oZDmRjBmoBCQ+t/+Ri9TR7s
                  jHDqAegYDQG0kaT0EhPQu5aH+nvATvqTXBIemilSXhofaCfB+w+qKbYp1LNA6NgFIyCUcBADQAA6UC2Ipn+q/gAAAAASUVORK5CYII=">
                </button>
              </li>

              <li class="nav-item active" role="presentation">
                <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false" title="">
                  View All
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link " id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab" aria-controls="messages" aria-selected="false" title="Add New Location">New Staff
                </button>
              </li>
              <!-- <li class="nav-item" role="presentation">
                <button class="nav-link " 
                  aria-selected="false"
                  onclick="location.assign('/api/v1/workContracts/')"
                   title="Employment Contract">Work Contract
              </button>
              </li> -->
            </ul>
            <form class="d-flex" id="search">
              <input class="form-control" type="search" placeholder="Search Employee list with Name" aria-label="Search" name="query" />
              <button class="btn btn-success" type="submit">
                Search
              </button>
            </form>
            <br>
            <ul class="list-group list-group-flush m-2 ">

              <div class="list-group ">
                <!-- Hover added -->
                 <!-- accordion for Job Title -->

            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="false"
                    aria-controls="collapseOne"
                  >
                    Job Title
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body row g-3">
                    <!-- for input starts here -->
                    <form id="jobTitleForm" class="d-flex border-bottom">
                      <div class="col">
                        <div class="mb-3">
                          <label for="" class="form-label badge bg-secondary">Create New job Tittle</label>
                          <input
                            type="text"
                            name="Name"
                            id=""
                            required
                            class="form-control is-invalid"
                            placeholder="Type job Tittle"
                            aria-describedby="helpId"
                          />
                          <button class="btn btn-info" type="submit">Submit</button>
                          <!-- <small id="helpId" class="text-muted">Enter job Tittle</small> -->
                        </div>
                      </div>
                    </form>
                    <script>
                      const jobTitleForm =document.getElementById('jobTitleForm')
                      jobTitleForm.addEventListener('submit',async(e)=>{
                         e.preventDefault();
                         
                         Swal.fire({
                            title: `Creating ${jobTitleForm.Name.value}.`,
                            text: "Click ok button to close.",
                            icon: "warning",
                            showConfirmButton:true,
                            showCancelButton:false,
                            
                          }).then(async(isConfirm) => {
                            if (isConfirm) {
                                  //  submit form here 
                                  const request = await fetch ('/api/v1/newjobtitle',{
                                  method:'POST',
                                  body:JSON.stringify({Name:jobTitleForm.Name.value}),
                                  headers:{
                                    'Content-Type':'application/json'
                                  }
                                })
                                const response = await request.json();
                                if(response){
                                  ShowServerResponse(response.message)
                                  jobTitleForm.reset()
                                  location.reload()
                                }else{
                                  serverError(response.error)
                                }
                            } else {
                              swal.fire("Cancelled", "Your imaginary file is safe :)", "error");
                            }
                          }) 
                      })
                     </script>
                    
                    <small id="helpId" class="text-muted ">Job title List</small>
                    <!-- Some borders are removed -->
                    <% if (jobTittles.length > 0) { %>
                      <ul class="list-group list-group-flush">
                          <% jobTittles.forEach(element => { %>
                            <li class="list-group-item badge bg-dark-subtle gap-1" title="<%= element.Name %>"><%= element.Name %></li>
                          <% }) %>
                        </ul>
                          <% } else { %>
                            <li class="list-group-item">Nothing to show</li>
                        <% } %>
                  </div>
                </div>
              </div>
          

            <!-- ends here -->

              <!-- accordion for Departments -->

              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                    >
                      Departments
                    </button>
                  </h2>
                  <div
                    id="collapseTwo"
                    class="accordion-collapse collapse"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body row g-3">
                      <!-- for input starts here -->
                      <form id="departmentform" class="d-flex border-bottom">
                        <div class="col">
                          <div class="mb-3">
                            <label for="" class="form-label badge bg-info-subtle text-dark">Create New Department</label>
                            <input
                              type="text"
                              name="Name"
                              id=""
                              required
                              class="form-control is-invalid"
                              placeholder="Type Department Name"
                              aria-describedby="helpId"
                            />
                            <div class="mb-3">
                              <label for="" class="form-label">Choose H.O.D</label>
                              <select
                                class="form-select form-select-lg is-invalid"
                                name="HOD"
                                id=""
                                required
                              >
                              <option value="">Choose...</option>
                              <% if (Employee.length > 0) { %>
                               <% Employee.forEach(element => { %>
                                <option 
                                <% if (element.status !== 'active') { %>
                                  disabled="disabled"
                                <% } %>
                                value="<%= element._id %>"><%= element.firstName %> <%= element.lastName %></option>
                               <% }) %>
                              <% } %>
                              </select>
                            </div>
                            
                            <button class="btn btn-info" type="submit">Submit</button>
                            <!-- <small id="helpId" class="text-muted">Enter Department Name</small> -->
                          </div>
                        </div>
                      </form>
                      <script>
                       const departmentform =document.getElementById('departmentform')
                       departmentform.addEventListener('submit',async(e)=>{
                          e.preventDefault();
                          Swal.fire({
                            title: `Creating ${departmentform.Name.value}.`,
                            text: "Click ok button to close.",
                            icon: "warning",
                            showConfirmButton:true,
                            showCancelButton:false,
                            
                          }).then(async(isConfirm) => {
                            if (isConfirm) {
                                  //  submit form here 
                                  const request = await fetch ('/api/v1/departmentforms',{
                                  method:'POST',
                                  body:JSON.stringify({Name:departmentform.Name.value,HOD:departmentform.HOD.value}),
                                  headers:{
                                    'Content-Type':'application/json'
                                  }
                                })
                                const response = await request.json();
                                if(response){
                                  ShowServerResponse(response.message)
                                  departmentform.reset()
                                  location.reload()
                                }else{
                                  serverError(response.error)
                                }
                            } else {
                              swal.fire("Cancelled", "Your imaginary file is safe :)", "error");
                            }
                          }) 
                         
                       })
                      </script>
                      
                      <small id="helpId" class="text-muted">Department List</small>
                      <!-- Some borders are removed -->
                      <% if (Departments.length > 0) { %>
                        <ul class="list-group list-group-flush mb-5">
                            <% Departments.forEach(element => { %>
                              <li class="list-group-item badge bg-dark-subtle gap-1" title="<%= element.Name %>"><%= element.Name %></li>
                            <% }) %>
                        </ul>
                      <% } else { %>
                              <li class="list-group-item">Nothing to show</li>
                      <% } %>
                      
                      
                    </div>
                  </div>
                </div>
            
  
              <!-- ends here -->
              </div>
              <% } %>
            </ul>
          </div>
    </nav>

    <!-- Nav tabs -->

  </header>

  <main class="pt-4 ">
    <div class="tab-content mt-5 ">

      <div class="tab-pane active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class=" overflow-hidden flex-wrap flex-fill d-flex gap-2 p-1 mb-5">

          <%if(Employee.length > 0){%>
          <% Employee.forEach((Employee)=> { %>
          <div class="card2 m-1 mb-3 shadow rounded animate__bounceIn" style="width:10rem; border: <%if(Employee.status === 'active'){%>
                    2px solid #50735D
                  <%}%>;" title="<%=Employee.firstName%>">
            <div class="card-img-top justify-content-center d-flex p-2 ">
              <img width="60" height="60" src="<%if(Employee.image){%>
                              <%= Employee.image %>
                              <%}else{%>
                                  https://cdn.pixabay.com/photo/2019/08/11/18/59/icon-4399701_640.png
                              <%}%>
                              " alt="No Photo uploaded"  width=130 height="130">
                      </div>
                  
                      <div class="card-body" style="overflow:hidden;
                      white-space:nowrap;
                      text-overflow:ellipsis;
                      max-width:150px;">
                          <P class="card-title "><%= Employee.firstName.charAt(0).toUpperCase() %><%= Employee.firstName.substring(1,10) %>
                            <%= Employee.lastName.charAt(0).toUpperCase() %><%= Employee.lastName.substring(1,10) %>
                          </P> 
                          <a
                          <%if(Employee.status === 'active'){%>
                            href="mailto:<%=Employee.Email%>"
                          <%}%>
                          class="badge 
                            <%if(Employee.status === 'active'){%>
                              bg-dark-subtle 
                            <%}%>
                            bg-danger-subtle text-dark border shadow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-envelope-at" viewBox="0 0 16 16">
                              <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
                              <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648Zm-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"/>
                            </svg>
                           <small> 
                            <%=Employee.Email%>
                          </small> 
                        </a>
            </div>
            <a href='/api/v1/employee/<%=Employee._id%>/user' class="go-corner">
              <div class="go-arrow">
                →
              </div>
            </a>
          </div>
          <% }) %>
          <%}else{%>
          <h2>No Employee to display</h2>
          <%}%>
          
          </div>
            </div>
            <!-- foreach ends here -->

            <!-- new employee form here -->
          <div
                class="tab-pane p-5"
                id="messages"
                role="tabpanel"
                aria-labelledby="messages-tab"
            >
               <!-- <nav id="nav-example" class="nav justify-content-center fixed-top">
                <a class="nav-link text-dark" href="#div1">Upload Image</a>
                <a class="nav-link text-dark" href="#div2">Persona Infomation</a>
                <a class="nav-link text-dark" href="#div3">Work infomation</a>
               </nav> -->
               <div>
                <div
                  data-bs-spy="scroll"
                  data-bs-target="#nav-example"
                  data-bs-smooth-scroll="true"
                  tabindex="0"
                  class="container-fluid shadow border p-5"
                >
                <h5> Employee Registration Form</h5>
                <i>This Form consist of 2 Sections, please fill as appropriate.</i>
            
                  <div id="div1" class="p-5 border-bottom" style="height: 70vh">
                    <small class="text-muted">IMAGE UPLOAD SECTION...</small>
                    
                    <div class="d-flex justify-content-center align-content-end gap-3">   
                        <label style="border: 1px dotted black; padding: 30px;" id="productImage" for="files"></label>
                        <input type="file" class="form-control" id="files" hidden />
                    </div>
                    <div class="d-flex justify-content-between align-content-center">
                      <button class="btn btn-warning" disabled>Back</button>
                    <a  class="btn btn-success" href="#div2">Goto Personal Infomation</a>
                    </div>
                  </div>

                  <form action="" method="post" class="container mb-5" id="EmployeeForm">
                    <div id="div2" class="p-3 row g-3 border-bottom" style="height: 100vh">
                      <small class="text-muted">PERSONAL INFORMATION</small>
                      <input type="text" name="employeeImage" id="employeeImage" hidden>
                      <div class="col-md-6">
                        <label for="FirstName" class="form-label">First Name</label>
                        <input type="text" class="form-control is-invalid" id="FirstName"  name="firstName" required />
                      </div>
            
                      <div class="col-md-6">
                        <label for="LastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control is-invalid" id="LastName" name="lastName" required />
                      </div>
                      <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input
                          type="email"
                          class="form-control is-invalid"
                          id="inputEmail4"
                          placeholder="Example@Bigbern.com"
                          required
                          name="Email"
                        />
                      </div>
                      <div class="col-md-6">
                        <label for="DOB" class="form-label">DOB</label>
                        <input type="date" class="form-control is-invalid" id="DOB" name="DOB" />
                      </div>
                      <div class="col-md-12">
                        <label for="inputAddress" class="form-label">Home Address</label>
                        <input
                          type="text"
                          class="form-control"
                          id="inputAddress"
                          placeholder="1234 Main St"
                          name="HomeAddress"
                        />
                      </div>
                      <div class="col-4">
                        <label for="NOK" class="form-label">Next of Kin</label>
                        <input
                          type="text"
                          class="form-control"
                          id="NOK"
                          placeholder="Next of Kin"
                          name="NOK"
                        />
                      </div>
                      <div class="col-md-4">
                        <label for="inputState" class="form-label">State of Origin</label>
                        <select id="inputState" class="form-select" name="StateOfOringin">
                          <ul class="list-group list-group-flush">
                          <option class="list-group-item badge bg-dark-subtle gap-1" >Choose...</option>
                          <%states.forEach(state=>{%>
                           <option class="list-group-item badge bg-dark-subtle gap-1" value="<%=state.state%>"><%=state.state%></option>
                        <%})%>
                      </ul>
          </select>
        </div>
        <div class="col-md-3">
          <label for="LGA" class="form-label">LGA</label>
          <input type="text" class="form-control" id="LGA" name="LGA" />
        </div>
        <div class="col-md-6">
          <label for="EmaergencyContact" class="form-label">Emergency Contact</label>
          <input type="text" class="form-control" id="EmaergencyContact" name="EmaergencyContact" />
        </div>
        <div class="col-md-6">
          <label for="EmaergencyContactNumber" class="form-label">Emergency contact Number</label>
          <input type="text" class="form-control" id="EmaergencyContactNumber" name="EmaergencyContactNumber" />
        </div>
        <div class="col-md-6">
          <label for="Mobile" class="form-label">Mobile</label>
          <input type="text" class="form-control is-invalid" id="Mobile" placeholder="+234-0000-000" required name="telephone" />
        </div>
        <div class="col-md-3">
          <h5>Gender</h5>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Gender" id="inlineRadio1" value="Male" />
            <label class="form-check-label" for="inlineRadio1">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Gender" id="inlineRadio2" value="Female" />
            <label class="form-check-label" for="inlineRadio2">Female</label>
          </div>
        </div>
        <div class="d-flex justify-content-between align-content-lg-between col-md-12 pb-5">
          <a class="btn btn-warning" href="#div1">To Top</button>
            <a class="btn btn-success" href="#div3">Work Infomation</a>
        </div>
        <!-- endes here  -->
      </div>

      <div id="div3" class="row gap-3 pt-4" style="height: 100vh">
        <small class="text-muted"> Work Information...</small>

        <!-- work information starts here -->
        <div class="col-md-3">
          <label for="workLocation" class="form-label">Assign Work Location</label>
          <select  id="workLocation" class="form-select" name="workLocation">
            <ul class="list-group list-group-flush">
              <option class="list-group-item badge bg-dark-subtle gap-1">Choose...</option>
            <%Warehouse.forEach(Warehouse=>{%>
            <option class="list-group-item badge bg-dark-subtle gap-1" value="<%=Warehouse._id%>"><%=Warehouse.WHName%></option>
            <%})%>
          </ul>
          </select>
        </div>
        <!-- <div class="col-md-3">
            <label for="validationServer02" class="form-label"
              >Equiptment</label
            >
            <input
              type="text"
              class="form-control "
              id="validationServer02"
              name="Equiptment"
            />
          </div> -->
        <div class="col-md-3">
          <label for="validationServerUsername" class="form-label">Work Email</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend3">@</span>
            <input type="text" class="form-control " id="validationServerUsername" name="workEmail" />

          </div>
        </div>
        <div class="col-md-3">
          <label for="validationServer03" class="form-label">Employee Contract</label>
          <select class="form-select is-invalid" id="validationServer04" aria-describedby="validationServer04Feedback" name="contract">
            <option selected disabled value="">Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="col-md-3">
          <label for="Manager" class="form-label">Manager to report to</label>
          <select class="form-select " id="Manager" name="Manager" aria-describedby="validationServer04Feedback">
            <option>Choose...</option>
            <optgroup class="list-group list-group-flush" label="Admin">
              <%Admin = Employee.filter(staff=>{%>
              <%return staff.isAdmin%>
              <%})%>
              <%Admin.forEach(Employee=>{%>
              <option class="list-group-item badge bg-dark-subtle gap-1" value="<%=Employee._id%>"><%=Employee.firstName%> <%=Employee.lastName%></option>
              <%})%>
            </optgroup>
            <optgroup class="list-group list-group-flush" label="Managers">
              <%manager = Employee.filter(staff=>{%>
              <%return staff.isManager%>
              <%})%>
              <%manager.forEach(Employee=>{%>
              <option class="list-group-item badge bg-dark-subtle gap-1" value="<%=Employee._id%>"><%=Employee.firstName%> <%=Employee.lastName%></option>
              <%})%>
            </optgroup>
          </select>
        </div>
        <!-- <div class="col-md-3">
            <label for="Role" class="form-label"
              > Assign system Role </label
            >
            <select
              class="form-select"
              id="Role"
              name="role"
              aria-describedby="validationServer04Feedback"
              
            >
              <option selected disabled value="">Choose...</option>
                <option value="Admin" >Admin Access</option>
                <option value="Staff" >Staff Access</option>
            </select>
          </div> -->
        <div class="col-md-3">
          <label for="staffId" class="form-label">Staff ID Number</label>
          <input type="text" class="form-control" id="staffId" aria-describedby="staffId" name="staffId" />
        </div>

        <div class="col-md-3">
          <label for="StartDate" class="form-label">Employement Date</label>
          <input type="date" class="form-control" id="StartDate" aria-describedby="staffId" name="StartDate" />
        </div>

        <div class="col-md-3">
          <label for="jobTittle" class="form-label">Job Tittle</label>
          <select class="form-select " id="jobTittle" aria-describedby="validationServer04Feedback" required name="jobTittle">
            <% if (jobTittles.length > 0) { %>
              <ul class="list-group list-group-flush">
                <option class="list-group-item badge bg-dark-subtle gap-1">Choose...</option>
                  <% jobTittles.forEach(element => { %>
                    <option class="list-group-item badge bg-dark-subtle gap-1" value="<%= element.Name %>"><%= element.Name %></option>
                  <% }) %>
                </ul>
                  <% } %>
          </select>
        </div>
        <div class="col-md-3">
          <label for="Department" class="form-label">DEPARTMENT</label>
          <select class="form-select " id="Department" aria-describedby="validationServer04Feedback" name="Department">
            <% if (Departments.length > 0) { %>
              <ul class="list-group list-group-flush">
                <option class="list-group-item badge bg-dark-subtle gap-1">Choose...</option>
                  <% Departments.forEach(element => { %>
                    <option class="list-group-item badge bg-dark-subtle gap-1" value="<%= element.Name %>"><%= element.Name %></option>
                  <% }) %>
                </ul>
                  <% } %>
          </select>
        </div>
        <div class="col-md-3">
          <label for="BVN" class="form-label">BVN</label>
          <input type="text" class="form-control" id="BVN" aria-describedby="validationServer05Feedback" name="BVN" />
        </div>
        <div class="col-md-3">
          <label for="NIN" class="form-label">NIN</label>
          <input type="text" class="form-control" id="NIN" aria-describedby="validationServer05Feedback" name="NIN" />
        </div>
        <div class="col-md-3">
          <label for="AccountNumber" class="form-label">Account Number</label>
          <input type="text" class="form-control" id="AccountNumber" aria-describedby="validationServer05Feedback" name="AccountNumber" />
        </div>
        <div class="col-md-3">
          <label for="BankName" class="form-label">Bank Name</label>
          <input type="text" class="form-control" id="BankName" name="BankName" />
        </div>

        <!-- ends here -->
      </div>
      <button class="btn btn-primary btn-lg mt-3" type="submit">
        Onboard Employee
      </button>
               </form>
    </div>
    </div>

    </div>

    </div>

  </main>
  <footer style="z-index: 3 !important;">
    <!-- place footer here -->
    <div class="container-fluid fixed-bottom bg-dark-subtle ">
      <div class="row p-2">
        <!-- for next and filter -->

      </div>
      <div class="row">
        <div class="col-12">
          <p class="text-center">
            BADE &copy; <script>
              document.write(new Date().getFullYear());
            </script>. All rights reserved.
          </p>
        </div>
      </div>
    </div>
    </div>
    </div>
    <!-- end of footer -->
  </footer>


  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js" integrity="sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-app.js"></script>
<!-- TODO: Add SDKs for Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-storage.js"></script>
<script type="module">
  //DATABASE SHIT STARTS HERE
//FROM BIG BERN 
const firebaseConfig = {
    apiKey: "AIzaSyBED3d1-cLAwWrbQJsH0LJBU1A3iDQbBi0",
    authDomain: "bigbern-erp.firebaseapp.com",
    databaseURL: "https://bigbern-erp-default-rtdb.firebaseio.com",
    projectId: "bigbern-erp",
    storageBucket: "bigbern-erp.appspot.com",
    messagingSenderId: "129741589367",
    appId: "1:129741589367:web:2dfd5bf29e5936bdd1af72",
    measurementId: "G-L3T956JGTM"
};

import { getDatabase, ref, child,onValue, get,}
from "https://www.gstatic.com/firebasejs/9.13.0/firebase-database.js";
import { initializeApp} from "https://www.gstatic.com/firebasejs/9.13.0/firebase-app.js";
// initialize firebase
const app = firebase.initializeApp(firebaseConfig);
initializeApp(firebaseConfig);


// form image 
var files = [];
document.getElementById("files").addEventListener("change", function(e) {
    files =  e.target.files;
    for (let i = 0; i < files.length; i++) {
    }
    //checks if files are selected
    if (files.length != 0) {
      //Loops through all the selected files
      for (let i = 0; i < files.length; i++) {
        //create a storage reference
        var storage = firebase.storage().ref(`Employeephoto/${files[i].name}`);
  
        //upload file
        var upload = storage.put(files[i])
  
        //update progress bar
        upload.on(
          "state_changed",alert('Image Selected')
          // function progress(snapshot) {
          //   var percentage =
          //     (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
          //   document.getElementById("progress").value = percentage;
          // },
        );
      }
    } else {
      alert("No file chosen");
    }
  
    upload.then(snapshot => {
         return snapshot.ref.getDownloadURL();   // Will return a promise with the download link
     }).then(downloadURL => {
      // set image url for form
      
    let imageInput = document.getElementById("employeeImage").value = `${downloadURL}`;
      // display image on form
      document.getElementById('productImage').style.backgroundImage = `url(${downloadURL}`;
      // return downloadURL
      
     }).catch(error => {
        // Use to signal error if something goes wrong.
        alert(`Failed to upload file and get link - ${error}`);
     });
   
  });


  // get manager
  let manager 
  document.getElementById('Manager').addEventListener('change',async (e) =>{

    const request = await fetch(`/api/v1/employee/${e.target.value}`,{
      method: 'GET',
      headers:{"content-type": "application/json"}
    })

    const response = await request.json()
    manager = response
  })



  // submit employee form
  const EmployeeForm =  document.getElementById('EmployeeForm')
  EmployeeForm.addEventListener('submit',async(e) => {
    e.preventDefault();

    const request = await fetch("/api/v1/register/employee",{
      method: 'POST',
      body: JSON.stringify({
        firstName: EmployeeForm.firstName.value,
        lastName: EmployeeForm.lastName.value,
        Email:EmployeeForm.Email.value,
        DOB:EmployeeForm.DOB.value,
        telephone:EmployeeForm.telephone.value,
        HomeAddress:EmployeeForm.HomeAddress.value,
        NOK:EmployeeForm.NOK.value,
        StateOfOringin:EmployeeForm.StateOfOringin.value,
        LGA:EmployeeForm.LGA.value,
        EmaergencyContact:EmployeeForm.EmaergencyContact.value,
        EmaergencyContactNumber:EmployeeForm.EmaergencyContactNumber.value,
        Gender:EmployeeForm.Gender.value,
        workLocation:EmployeeForm.workLocation.value,
        workEmail:EmployeeForm.workEmail.value,
        contract:'',
        Manager:manager,
        // role:EmployeeForm.role.value,
        staffId:EmployeeForm.staffId.value,
        jobTittle:EmployeeForm.jobTittle.value,
        Department:EmployeeForm.Department.value,
        BVN:EmployeeForm.BVN.value,
        NIN:EmployeeForm.NIN.value,
        AccountNumber:EmployeeForm.AccountNumber.value,
        BankName:EmployeeForm.BankName.value,
        image:EmployeeForm.employeeImage.value,
        StartDate:EmployeeForm.StartDate.value,
        EndDate:'',
      }),
      headers:{"content-type": "application/json"}
    })

    const response = await request.json()

    if(response){
      alert(response.message || response.error)
      response.message ? EmployeeForm.reset(): ""
      response.message ? location.reload(): ""
    }
    

  });

</script>
</body>

</html>