
<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/inactive.ejs')%>
  <%-include('./partials/head.ejs')%>
  <%-include('./partials/Notification.ejs')%>
<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Bade DashBoard
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="/bootstrap.min.css" rel="stylesheet" />
  <link href="/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
  <style>
       tbody td {
    border:1px solid rgb(255, 153, 0);
    font-size: 0.8rem !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition-delay:1s;
    padding: 1px;
    text-align: center;
    
    }
  </style>
</head>

<body class=""  onload="getData()">
  <div class="wrapper ">
    <div class="sidebar" data-color="black" data-active-color="danger" style="overflow-y: hidden;">
      <div class="dash logo">
        
        <a href="" class="simple-text logo-normal" >
          <a class="navbar-brand" href="/api/v1/Dashboard/<%=user._id%>" title="Apps">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAACXBIWXMAAAsTAAALEwEAmpwYAAAVe0lEQVR4nO1de3RV1Zk/tgvrtJ2RP8bprM60IsvV6XLVtnbWaisCQwyvICbyCCEhEAR5PxIgPJIAImgFCiZIeQQiiKAJqOEhQoJIKC81g4EEEwQDBsiTJDd370todWa6Z/1Ozrl3n3PPPo97TwLVu9f6FneFc863v+/be397f68tSZEWaZEWaZEWaZEWaZEWaZEWaZEWaW60lpaWf/L5fAmU0jcppR8TQmoJIV9TStsopZcJIYWEkHltbW0PhYOHMfYdr9c7gFK6hhBySsFzWwH8Pkkp/aPP5+uPZ8PB5fV6exJC0gkhe0EDaA
            FNwAMaKaW7fD7fKNAu3S3t9u3bP6GUbieEfEUpZVZACPkbIeRDSmlvJ3gYY9+DQAkhN+zgUXBdJ4TMYYzd6wQXpbQPIaQEfbWJ56+U0tfa29v/XbpTjTH2XULIckLIX+wyyICQ/La2tu52GEQpvRIqHkpptZ0BgL4QQgrCoAezdBl4I3Vl83g891NKD4fBIB6u+ny+X4hwEULmEkL+J1w8+AYhJE2Ex+fzPYq+uEGTx+Mp6rJlDMIghFxwSRgqs276fL5f6nFRSpe4iUeBLD2eW7du/YoQ0uwmnsbGxktXrly5v1OFASVJKX1P1Inr1+rZzteL2Oxp69iIpxez/n3msGeGZLLnxq1im9bvZZWfXTETSsOtW7f+VcXl9XqTRM96vV5WfPhj9sLibWxM/HI2KGqeDEnxy9kLS7axI0
            WfMK+XmOEap+Lx+Xz/oihpw2crL1SzjesLZRpAC2gCbaBx144iduN6vRBPdXV1aXx8/D90mkCgM4wQt7V52ZaN+9jgqHTW7/HZQoh6IpUtX7qd1dU2iogoAh5K6c8ppe1Gz5w6eZ6lJL5kigcwPukP7PTJchGeW4SQnym4jhg9U3ujUe4r+myGBzRv2bRf5oHRd44ePbpLkqRurgujvb3934yY1NBwk6VOX2fJIB4Shj0vjzwBs4ZTSg8Z/d9bO4vZk0+k2cYT3TuNvbXziAjPQUrpSKP/++xCtdxHJzSlzXhV5oX+Wx6P5+sRI0aMkiTpHlcFgq2t0czQCyNm4FI2buIONiP9EEvNOsZmLihmz07NZ3FPv6x5bmTsEnatps6IUS1GTNr37p+1zO4zjyUkbmRTUvex2RkfyjBl9j6WkLRR/
            j/+2f2FJ0RCCcJVU1Mn9y3wfiqLi31ZpgG0gCbQNm7CDjZk4NIgoRjNlDNnzpRIkvSo24o86JyRu2FfoEO9Ulni2C0sbXEJS1t83BAmTCtgT3LMAgGi9ZdycOnzGjag71z/e0/FvMBmLigS4gHj8Iz6/MD/mscuX6qxhSttRmCAoa/oswhPalYJS0zOlWlX38HyFTxw277u2bNniiRJ33dFIF6vN9FIgfM6o0MYxy3huRl7WBRHwInjZZZMWpKxNTADByyRZ4MVHjyDZ9X3lmbkWeL5c0lZQN/1SmMTZ7xtiyZZKJxOMVL0OTk56yRJ+p0rAoGJQI9g5/bDGiZhtNjpPGBkfGAUZi3YYsqkutpGWReoyweWJbt4pqTt949e6B4oajNcGfMDjB0Z/6ptPFgVYgYFli/svvTfLi0tPSlJUoIrC
            p5SWqpHMHtqjr8D0Bn2O3+cTZt7UDOiPJ42IZMO7DvJLVXLHeEBDI1Z7n//4P5TQjye1jZ566w+O33e+47wQKeo70KvBuummuuSJCVKkvTTsAViZD/iFR+UnFNGDYha6H//6pUbQkZt/tNe/3Ojx2xyjCchaZP//dyN+4R4qr+47n9uQNQix3impx/yvx8ftyTo+62tre2KQB53QyBBCp1Xsth5OCVgyKDAtvLTsxeFjFr10i7/c8njtzvGg3fU9/EtER70QX0OfXOKBzzwC7Tv3KDve73e/1UEMiRsgSgmdA2CuJhMfwfMdjwiGBSd4X//84tfChn1p5x3HG8cRAp3w7p3hXg+r7rqf25QdJZjPNjZqe/jRK//fktLi08RyEg3BPKFHsGklFX+DmCP7qzzRbKCVg9vzc2tQkbtfuuoHw/OA04ZxZ9/9uQfFeJpvtmq2TzMXFjsCA94oOKZ/OzqoO/X1tY2KAIZHbZA4FzSI4Btys+op50xKmnsFv+7sAmZ7Xy+uHwtcC54Yg6bMd/+bJyRflh+R30fesIM16yp2f5nk8ZtdURTbGxA8Js3BOuqsrKyjxWBjHBDIOl6BDB98GaMCVPFBygesHvhT9KFb5eYMolSyqY9t5abJStND58BKGHPxK4M7JomrbXE8+6eEs4SkG57p8XPDvDEyIhaUFCwUxHI0LAF0tbW1oMQ8n96JDC+8adaHPqshDE4Osv/ztiEFUKjHOXgo9MVGhNF/Kh1FkIpYSNHBbblgI/OVFjiQV+SR60IbMn7Z1kK5bnpb2usDy8+/3rQd+F5jImJSVUE4shTajZLPjQ6tPFGOJzAcejDOUOjMxYWy8sUPzMG9ZvHyj4V766oDrL/WKBh8JBBy+RZyR9IsdPB3/gdHCB7zW7beLDbgqmFnynou16ngMaR8Tkaq8Po4ctYfV1T0DerqqrKFWEAfu6WQB438jFj6dIa49S9/EL59DooGrsxrQkbwoA/wy6TqOID4U0oAYbNky0FAH6k8iYTvOsEV/GhjzRCURU9dl+giT9D8WcPkb8nLS3teU4gP3RFIIpQ8o0Qwmo7Z+arQZ00AiwJTmYG1U59tm3rQTawXzDj9YBntucdlN8JBRdmCr98mQFoh23P6Dtnz549zQkjSnKzIQjALNjgxPFzsm1K76jCdhK7KShwOzqDWsCXV2vZurV75CVCzxz87dVX3mY1X9aGjQd9haJH3wNbYsV+92Q6W7xwi0yz6P2GhobmRx55ZBInkAcktxsCEuADNyMEdqEr1TfYuU8/lw99LSbnjHDhxo0GVlF+WQb87iw8oAG0gCbQBhrNnm9qaiKJiYnzOWH0cl0YnFB+6SQ+6tsGDQ0NrcnJyQs4YcRKkuQoNsxxo5Q+AB/4nSae3mVQWVl57rHHHpvCCWOYJEmdG32iE8xwkdv12wTNzc2+1atXv8IJAhAnSVL3rhQGokPev9PMoHcJXLhwoWz48OFzFWH0kyTpe10mDEJIMsJp7jQT6F0GHo/nq7KysnSpK1snRRSybxLU1dUt7xJhINbWtCO1jWz/3hOyxRMOIfgzCt78QLbaukmw1+uVg+ZwUFyzMl+G17a8JwfHOT2ZWwH6DhpAC2gCbXAtG5lJeDh79uyLnS2M3ys5H4ahOjBtmAWywWoLQ2E4zGlpaWU7th1icYMDDi49wHn2xvbD8rPh4DpzqpxNnbhGiAeHRZhmRCFG8BLm5eWN7RRhID9DdEo/eOCUbJ+yY2YAvLxip2lgAzUZqXbCSPlw0lBmJmbY+uyAp9IK4LLd+85x0dLV2LNnT2F0f8gNyTKi8E69EQ7RIQhIgD8bblf4JXhHEQCzyYmd6YvL14JmBYIRYIpPHp8nA0zu+Jt+tjgRCvq0eJHWiIm+g4aksbkyTaANNOqNpqKw1fz8/B2umk0Q9Y5sJD0irOH8EoXQSoR2Gnrv5hfJziWeAKz/dpepFG5mgEFgjFEsGP6WPH6bZgBgpthdvqCH+D4+E7eKzZx/2JAmxIjxwXhYwowCvGHTuvfee3FaDyvFzt+UnL6gac0zCaGb1hGFJfKI5i2yMBRaMWnHtkCIDRg9eda7ll48PMMLBTrFCg/CkfiltyNYztw7CZr5sFUI32hTkZmZ+ZIkSf/hikCQYKlHgBwM/8joM0+OurDnfy6RnUvqu7DaWllc47ilCqPfrp87efxrmqXLaveVs2Z3YLYPRiiQvWhMzH7eF/NB8SdB3z5y5MgBxaYVfhQ8sl31CJAso3YAUeh2mQSYMG23xlxuxqTTJ8s1OsNJyCqe5XUKdk1muHjv58Rp5u5oPSDqXn0Xrm39ty9fvnxROcH/yA2B1OkRJI0MTNPJAr0hZtQxzYgyi7ndtjUQdgql7QSPPo749bz3hXgQIM3PeCeCV/WJ+j6yugz0SKsikF+7IZCgTFveCTU746hjRvHKsPz8JSGj1qx8K0BoymuO8YxJyfO/v3ZVvhDP+XOX/M+hb07xgAfq++CNkUlFEUh/NwRy222BDOYEUnH+solA8jn9kReWQF5ZXSDEg0ERlkAWfRB4P3q+gS5s+ytnAQ5bIEFJkUiwVDswJYQlK7r3XFtL1va8cJesnBCXrGNuL1ktikBGuSGQk0FKfQmn1JMcKvWpgZCexBGdq9QHchEiVmYbXqlj4+GEpoTEDaZK/dKlSxddEwildLW7294A4QhI6LRtb8o2R9tebME7a9tbVFS037UlC4Vc9AhAHA5BTg+G/K4HB0M70SFvcNladg+Gk2ZqD4bIn7fCg0MqH2JkHSHZocyHDOYOhmNwMAw2CWVkZLyoCCTarYIB14yWEz48Bspwcupe41GUflgTa2u1plMOYPbghd9hOtkmMJ0ck2eGxnQy5g+stdVjCxe/zZZnVuxKYYD35Nl7NZsT8MLorNPQ0HCzW7duSYpAfiW50VBVx4gAGNR4AmBwQxoZMpdk42Jyrhwdrzcuwmzt2LgYE8hJkWdY1EJ5xmEnBYAC53WGulRZRb3zgD6hb/w30HekQoAW0ATaOswlWuNi/q4PDL+5a9euHZyfPfyDIRpKHClVdVwxv4cSMHel+gabMFab7363m99ra2sbu3fvPpYLB7qnSxxUcNJgZOkj/HhASoCdKHRqAlh6oFP0s0U/K5AlbHeZEgF2ZXwqhMhBJRI6HFRz5sxZxs0OuZyHqw0ljsyIgFsT2a5IsIS7E2lkyFxysmxQm6MY6zX0EE7gAPwGEzvDhQsaQAtoAm2g0cqFq1uqhrpmftc3SmmmmwR/E6GwsDCfE8boTonr5ZvX6x1DKfXdacLpXQawWW3dujVXFzDn/lJl1FDiyKx+1rcNKioqymJjY+fohPGI1JWNUjoiEkpK5VDSNWvWZHOCgImkZ5cJApXYRMW/vs1QVVVVHh0dDfPIP3aZMJQahUFOqwhQmQcej6fBqIZkpzRU77QqGNmRsHNdTm65WHW1UxN2rl+rl/0pAFFamRsAGkBLR8LOdcuEnZaWlraKior/7FRhKCltV83qTWXOz9VU1ekwPaTJ1YOQHuZGStvVKzfkgASjMnz4G6y2dqJZrAB9fWf3MbmggD4iEzQifc+s3ldTU9PNFStWhFXJ27SJigyjLB5fic0MkEhpVmyGWtiZEDdlx0wDqy0MhSEnff53lexoskMTKuMJyhWigsPJTknYIYT0MkqL/kyYFr1ISYvOCjLCIeUYqcdOR+tiXUShbL7oM0+2uAL0tRbVCEmnJ/ciYVp0pkyT3oAJAA9EhT0zMjIWuZ7ShlroekRwvWoLB6TJPgR99YOZC47ItUOQhM8LxclMWbsq4FsHPDVomRyqoy0cUCJ7+vi4LwCKDtjFc7a0Sls4oG+63HfQwNM0be77sqWZLxwAXhiVwK2srLzgatInbjQwmh28Gxej06pGoVxao3+WZvmyo1POnCrXjkbLiEJthCTATtQ9+sIvUx2lNcyLs6GcCO8tXGFeWsMd84mo+EygyHCqafVOvVD4mQJFb8WoqVxKAGJt7Raf4WOJYbW1wgMFzs8MK2EYxQhYFJ9xp3CAcn+GuDxTbBjlmabmOCrPNFMQ+Cz0dXOOMSvfSDjlmfi6XChLqP92WVnZJ66V1jByTKEWutPSTH6dsrBYU8DM7JxS8GYg3gkuYCd4wipgptMZlrNkSkDHTRpvWsAs/OIzlFKv+yX+Mm2V+Fuf/Y0p8dfuWnmmSBHM424WwRz6910mdsO+b1qZ2PBL/FFKP9EjQIUctQMoIuyk89PmvqepqmO3kPLQEAop88k0VoWU+XhlnDOc4Bk7cYdpTXuukHL4RTAppTv1CBB4Fnqp8UC8LUocme186uuaQi41jrgpfvNQX2/uA4cdLpQ4YtCOWyHUd5F3qf92aWnpCdfKxCrX4QUFJ2uK8Sfn2uo8ahRqi/GL601RBfg4KfvF+I9qgtjsFOOHoTBgdUi1rCGpQuKYzZoZb1SMf+3atTmKQGLCFkhTU9MPlavhNEhwNYPmuorkXNOZguqd/Kl27qz1lkyiSogRb87ouK6i2PT8wYd34l278VlYbjTXVUy1uK5CFkZggOVtPmB4XcWDDz74rGulxtFwT18wIq+GADUTF+splFxq5jGZORAEX9dWVXxG/ovm5mbDwAlcyhJ0oUvSRjl0FbMBgN+IQtfXXoQeMvqmES5YbfXGUpxlcM4ALaAJtIFGPumoQ3esMzQFnT59+hjn2v2JKwJpb2//sejKI71QrAB5haKCkatXr34FVXVEYatmgXh6wLOi8M6KiopP4QM3+r/KkK48Wie68uirfv36zVCE4c51FWrDpYnCS8E27be8FAx2HhjfRJeCVVZWnkPHUeLI4/EELZHyaDtZrgm8FgECrEVJnh6P5y9qdAh84EbPoI/oq9WlYNAZWzeLLwU7cODAHm52/FZysyEK3uPxGF7YBYAye/ONYnm0YNr37zuHDXsqS66FjvOE2bV5SIp8jKvEVlpaOl30LML9kZ+CxBhYjDEQAPiNvyE/w+zavA0bNmxU8URFRcXCBy56Fn2GbQo0gBbQBNpAI2g1uzavsrLy/H333TeGi0Jx58ojvuEGS1yaKOpEKICCkboahf2ACyWO3MQDKCwsLODwxCM6BAEJ8IG7iaempqbmoYcemsDhcr/eidpwg2V1dfVHbnS8rq6uSVe9M46vxFZeXv4CzA7h4sE3dLG2gB4qnqqqqt/U19c3uhUwx+2q1AHm7rV5+paSknIfLk2E0gql03DaoMjwww8/PFFXMLK7HhdKHKGqTqgMQkqArrq0YURhVlbWg/CBh4oHmbbQGVxyjnrucP9iSUHrNmzYsJG4pw97bZsj9W9VVVUVs2bNWqpj0NNmwQAocYSqOijkYpdByFzCrODyM1TThVms7f0ZGRkL4HZFX20K4mtsbXv37j1dR1PfrhSG2jAVH+3Ro0dKdnZ2Dm4jg92mpaVFrseIf2tra+vhoIHXLDo6epau02qR4W42cD2Aqjoo5ILaIShXgc0AZikAv5HtWlRUdAA5fbqRqlpa7bhREZDQa8CAAbPR53PnzpWCBp4m0AhzCGjWLU+qAv9Fpy9TFu37yj19CQYMN4LRikvznx3i+Y5SVSfWJh41c+lnIeRnPKD0cbRNPAnK1rbzLiQOoXVTroZ7XFk/R3Bm56GKgwZesx+EieceJV/v10q5ijhlZI5SfkcrCZY/cmGk/kDpc2+FBp6mGIXWn96J5SnSIi3SIi3SIi3SIi3SIk36+2v/D2fJJsBcmNmHAAAAAElFTkSuQmCC" width="30" height="30">
          </a>
         
        </a>
      </div>
      <div class="sidebar-wrapper ">
        <ul class="nav">
          <% if (user.isAdmin) { %>
           
          
          <li>
            <a href="/api/v1/report">
              <p>Business At Glance</p>
            </a>
          </li>
          <li class="d-none">
            <a href="/api/v1/CashFlow/report">
              <p>Cash Flow Statement</p>
            </a>
          </li>
          <li  class=" ">
            <a href="/api/v1/Sale/Report">
              <p>Sales Report</p>
            </a>
          </li>
          <li>
            <a href="/api/v1/dispach/Report">
              <p>Dispatch Report</p>
            </a>
          </li>
          <li class="active">
            <a href="/api/v1/LPO/Report">
              <p>LPO Report</p>
            </a>
          </li>
          
          <li class="d-none">
            <a href="#">
              <p>ReOrder Report</p>
            </a>
          </li>
          <li class="active-pro d-none">
            <a href="/api/v1/vendor/report">
              <p>Vendor Transaction</p>
            </a>
          </li>
        <li class="active-pro d-none">
          <a href="/api/v1/Bank/Transaction">
            <p>Bank Transaction</p>
          </a>
        </li>
        <li class="active-pro d-none">
          <a href="#">
            <p>Promo item Report</p>
          </a>
        </li>
        <li class="active-pro d-none">
          <a href="#">
            <p>Creditor Note </p>
          </a>
        </li>
        <li class="active-pro d-none">
          <a href="#">
            <p>Debit Note Report</p>
          </a>
        </li>
        <li class="active-pro d-none">
          <a href="#">
            <p>Sales By customer </p>
          </a>
        </li>
        <li class="active-pro d-none">
          <a href="/api/v1/Expense/Report">
            <p>Expense Report</p>
          </a>
        </li>
        <li class="active-pro d-none">
          <a href="#">
            <p>Sales Rep Report</p>
          </a>
        </li>
       
        <li class="active-pro d-none">
          <a href="/api/v1/VAT/Reprot">
            <p>VAT Report</p>
          </a>
        </li>
        <% } %>
        <li>
          <a href="/api/v1/Debtor/Report">
            <p>Debtor Reprot</p>
          </a>
        </li>
        <li>
          <a href="/api/v1/StockReport">
            <p>Stock Balance </p>
          </a>
        </li>
        <li class="active-pro">
          <a href="/api/v1/customer/report">
            <p>Customer Ledger</p>
          </a>
        </li>
        <li class="active-pro d-none">
          <a href="/api/v1/TGT/Achievement">
            <p>TGT Achievement </p>
          </a>
        </li>
        <li class="active-pro d-none">
          <a href="/api/v1/SalesDump/Report">
            <p>Sales Dump </p>
          </a>
        </li>
      </ul>
      </div>
    </div>
    <div class="main-panel  h-100">
      <!-- Navbar -->
      <nav class="dash navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:;">LPO Report</a>
          </div>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form>
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <img width="24" height="24" src="https://img.icons8.com/material-outlined/24/search--v1.png" alt="search--v1"/>
                  </div>
                </div>
              </div>
            </form>
            
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">


        <!-- starts here -->
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header d-flex justify-content-between w-100">
                <h5 class="card-title">GENERAL LPO MARGIN FOR <script>
                  document.write(new Date().getFullYear())
                </script></h5>
                <p class="card-category">12 Months Purchase Orders</p>
              </div>
              
              <div class="card-body ">
                <div id="myPlot" style="width:100%;max-width:100%"></div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <P id="currentMonth"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
         
        <div class="row ">
          <div class="col-md-12 ">
            <div class="card bg-dark text-gray">
            <form id="dataForm">
              <div class="card-header d-flex justify-content-between w-100">
                <h5 class="card-title form-text text-warning">Select LPO Period</h5>
              </div>

              <div class="card-body d-flex justify-content-between align-items-center">
                <div class="col-md-2">
                    <label for="Vendor" class="form-label">Select Vendor</label>
                    <select name="Vendor" id="Vendor" class="form-select p-2">
                        <option value="">Choose..</option>
                        <%if(vendor){%>
                            <%vendor.forEach((vendor)=>{%>
                            <option value="<%=vendor._id%>"><%=vendor.Name%></option>
                            <%})%>
                        <%}%>
                    </select>
                </div>

                <div class="col-md-2">
                    <label for="WareHouse" class="form-label">Select WareHouse</label>
                    <select name="WareHouse" id="WareHouse" class="form-select p-2">
                        <option value="">Choose..</option>
                        <%if(WH){%>
                            <%WH.forEach((WH)=>{%>
                            <option value="<%=WH._id%>"><%=WH.WHName%></option>
                            <%})%>
                        <%}%>
                    </select>
                </div>

                <div class="col-md-2">
                    <label for="pricelist" class="form-label">Start Period</label>
                    <input type="date" name="Startdate" id="date" required class="form-control border" >
                </div> 
                <span>
                    <img width="50" height="50" src="https://img.icons8.com/stickers/100/arrow.png" alt="arrow"/>
                </span>
                <!-- end date  -->
                <div class="col-md-2">
                    <label for="pricelist" class="form-label">End Period</label>
                    <input type="date" name="Enddate" id="date" required class="form-control border" >
                </div>
                <button class="btn btn-success p-2"><img width="14" height="14" src="https://img.icons8.com/material-outlined/24/search--v1.png" alt="search--v1"/></button>
              </div>
              </form>
              <div class="card-footer "><hr> 
                <h6 id="error"></h6>
                <button class="btn btn-warning d-none mb-2" id="dumpBtn">Generate and Export Dump </button>
                <button class="btn btn-primary d-none mb-2" id="downloadSerach">Download Result to xlxs</button>
                <!-- display result here -->
                <table class="w-100 d-none">
                   
                    <thead>
                        <td class="border p-1">S/N</td>
                        <td  class="border p-1">Refrence</td>
                        <td  class="border p-1">Vendor</td>
                        <td  class="border p-1">QTY</td>
                        <td  class="border p-1">LPO date</td>
                        <td  class="border p-1">Remark</td>
                        <td  class="border p-1">Discount recieved</td>
                        <td  class="border p-1">Returned Value</td>
                        <td  class="border p-1">Net</td>
                    </thead>
                    <tbody id="payment"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div id="loading" class="modal flex items-center flex-col justify-center gap-3">
    <div class="modal-body d-flex justify-content-center container">
      <h6 class="text-light">Please wait...</h6>
    </div>
  </div>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
  <script src="https://unpkg.com/jspdf-invoice-template@1.4.0/dist/index.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js" integrity="sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.mini.min.js" integrity="sha512-NDQhXrK2pOCL18FV5/Nc+ya9Vz+7o8dJV1IGRwuuYuRMFhAR0allmjWdZCSHFLDYgMvXKyN2jXlSy2JJEmq+ZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/filesaver.js" type="module"></script>
  <script  >

    
    
     const  dataForm = document.getElementById('dataForm')
    let invoice
    let customers 
    let Employee
    let wareHouse
    const getData = async ()=>{

      let Dumpdata = []
      let Transferdata = []
      let OutTrasnferdata = []
      let searchResult = []

      const getFilter = (data)=>{

        const getVendor = function (element){
          selectedVendor =  response.vendor.filter(vendor =>{
            return vendor._id == element
          })
          return selectedVendor[0].Name
         }

        searchResult = []
        data.forEach((element)=>{
          searchResult.push({Refrence:element.billReferenceNo,Vendor:getVendor(element.Vendor),Order_QTY:element.orders.length,
          date:element.recievedDate,Remark:element.Remarks,Discount:element.discount,Returned_value:element.ReturnQty,Gross:element.subTotal,Net:element.grandTotal})
        })
        
      }

      let d = new Date()
       let year = d.getFullYear(); 
        //display for current mont on ui
    const month = ["January","February","March","April","May","June","July","August","September","October","November","December"];

    document.getElementById('currentMonth').innerText =`CURRENT MONTH (${ month[d.getMonth()]})`;

        plsWait(true)
        const request = await fetch('/api/v1/Getfulldb',{
        method:'GET',
        headers:{'Content-Type': 'application/json'},
    })
        const response = await request.json()
        response ? plsWait(false) :''
        Employee = response.Employee
        LPO = response.LPO.sort((a, b) => b.startDate - a.startDate)
        
        // get report for lpo dash board
        // for sales on sale monthly chart
        const januaryInvoice = LPO.filter((bill)=>{
          return bill.recievedDate.substring(0,7) === `${year}-0${1}`  && bill.StoreKeeperConfirmation;//if report for monthly revenur dont show check this
        }).map((total)=>{return total.subTotal -  total.ReturnQty}).reduce((total , currentValue) => {return total + currentValue},0)
        
const FebuaryInvoice = LPO.filter((bill)=>{
  return bill.recievedDate.substring(0,7) === `${year}-0${2}` && bill.StoreKeeperConfirmation;//if report for monthly revenur dont show check this
}).map((total)=>{return total.subTotal - total.ReturnQty}).reduce((total , currentValue) => {return total + currentValue},0)


const MarchInvoice = LPO.filter((bill)=>{
  return bill.recievedDate.substring(0,7) === `${year}-0${3}` && bill.StoreKeeperConfirmation;//if report for monthly revenur dont show check this
}).map((total)=>{return total.subTotal -  total.ReturnQty}).reduce((total , currentValue) => {return total + currentValue},0)

const AprilInvoice = LPO.filter((bill)=>{
  return bill.recievedDate.substring(0,7) === `${year}-0${4}` && bill.StoreKeeperConfirmation;//if report for monthly revenur dont show check this
}).map((total)=>{return total.subTotal -  total.ReturnQty}).reduce((total , currentValue) => {return total + currentValue},0)

const MayInvoice = LPO.filter((bill)=>{
  return bill.recievedDate.substring(0,7) === `${year}-0${5}` && bill.StoreKeeperConfirmation;//if report for monthly revenur dont show check this
}).map((total)=>{return total.subTotal -  total.ReturnQty}).reduce((total , currentValue) => {return total + currentValue},0)

const JuneInvoice = LPO.filter((bill)=>{
  return bill.recievedDate.substring(0,7) === `${year}-0${6}` && bill.StoreKeeperConfirmation;//if report for monthly revenur dont show check this
}).map((total)=>{return total.subTotal -  total.ReturnQty}).reduce((total , currentValue) => {return total + currentValue},0)

const JulyInvoice = LPO.filter((bill)=>{
  return bill.recievedDate.substring(0,7) === `${year}-0${7}` && bill.StoreKeeperConfirmation;//if report for monthly revenur dont show check this
}).map((total)=>{return total.subTotal - total.ReturnQty }).reduce((total , currentValue) => {return total + currentValue},0)

const AugInvoice = LPO.filter((bill)=>{
  return bill.recievedDate.substring(0,7) === `${year}-0${8}` && bill.StoreKeeperConfirmation;//if report for monthly revenur dont show check this
}).map((total)=>{return total.subTotal - total.ReturnQty}).reduce((total , currentValue) => {return total + currentValue},0)


const SeptemberInvoice = LPO.filter((bill)=>{
  return bill.recievedDate.substring(0,7) === `${year}-0${9}` && bill.StoreKeeperConfirmation;//if report for monthly revenur dont show check this
}).map((total)=>{return total.subTotal - total.ReturnQty}).reduce((total , currentValue) => {return total + currentValue},0)

const OctoberInvoice = LPO.filter((bill)=>{
  return bill.recievedDate.substring(0,7) === `${year}-${10}` && bill.StoreKeeperConfirmation;//if report for monthly revenur dont show check this
}).map((total)=>{return total.subTotal - total.ReturnQty}).reduce((total , currentValue) => {return total + currentValue},0)


const NovemberInvoice = LPO.filter((bill)=>{
  return bill.recievedDate.substring(0,7) === `${year}-${11}` && bill.StoreKeeperConfirmation;//if report for monthly revenur dont show check this
}).map((total)=>{return total.subTotal - total.ReturnQty}).reduce((total , currentValue) => {return total + currentValue},0)

const DecemberInvoice = LPO.filter((bill)=>{
  return bill.recievedDate.substring(0,7) === `${year}-${12}` && bill.StoreKeeperConfirmation //if report for monthly revenur dont show check this
}).map((total)=>{return total.subTotal - total.ReturnQty }).reduce((total , currentValue) => {return total + currentValue},0)


const xArray = ["JAN", "FEB", "MAR", "APR", "MAY","JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC",];
const yArray = [januaryInvoice, FebuaryInvoice, MarchInvoice, AprilInvoice, MayInvoice,JuneInvoice, JulyInvoice, AugInvoice, SeptemberInvoice, OctoberInvoice,NovemberInvoice,DecemberInvoice];

const data = [{
  x:xArray,
  y:yArray,
  type:"bar",
  orientation:"v",
  marker: {color:"#03312e"}
}];

const layout = {title:"Month on Month Purchase Summary"};

Plotly.newPlot("myPlot", data, layout);

    //search field  for rang
   dataForm.addEventListener('submit',async (e)=>{
    e.preventDefault()

    let selectedLocation = []

    // function to generate date range
    const generateDates = (to ,from) => {
        const arr = [];
       
         while (from.getTime() <= to.getTime()) {
        arr.push(dayjs(from).format("D-MMM-YYYY"));
       from.setDate(from.getDate() + 1);
        }
         return arr;
      };

     selectedLocation = response.LPO.filter((invoice)=>{
       const dates = generateDates(new Date(dataForm.Enddate.value),new Date(dataForm.Startdate.value))
       const formattedDate = dayjs(invoice.recievedDate).format("D-MMM-YYYY");
       return dates.includes(formattedDate) && invoice.WHID.toString() === dataForm.WareHouse.value.toString() && dataForm.Vendor.value === invoice.Vendor && invoice.status === "POSTED TO WAREHOUSE"
      })

      // for xlsx donload of searched po
      getFilter(selectedLocation)
  

    // in bound transfers
    transfers = response.Transfer.filter((TRNS)=>{
      const dates = generateDates(new Date(dataForm.Enddate.value),new Date(dataForm.Startdate.value))
      const formattedDate = dayjs(TRNS.recievedDate).format("D-MMM-YYYY");
      return TRNS.to.toString() === dataForm.WareHouse.value.toString()  && dates.includes(formattedDate) && TRNS.storeKeeperApproval && TRNS.status === "posted to ware house"
    })

    // outbound transfers
    OutTransfers = response.Transfer.filter((TRNS)=>{
      const dates = generateDates(new Date(dataForm.Enddate.value),new Date(dataForm.Startdate.value))
      const formattedDate = dayjs(TRNS.recievedDate).format("D-MMM-YYYY");
      return TRNS.from.toString() === dataForm.WareHouse.value.toString() && dates.includes(formattedDate) && TRNS.storeKeeperApproval && TRNS.status === "posted to ware house"
    })
    

    let count =  selectedLocation.length - selectedLocation.length + 1
    tHead = document.querySelector('table')
    
    // render result 
    if(selectedLocation.length > 0){
      Dumpdata = []
      Transferdata = []
      OutTrasnferdata= []
        let tbody = document.getElementById('payment')
        document.getElementById('error').innerText = ''
        document.getElementById('dumpBtn').classList.remove('d-none')
        document.getElementById('downloadSerach').classList.remove('d-none')
        tbody.innerHTML =''
        tHead.classList.remove('d-none')

        const getVendor = function (element){
          selectedVendor =  response.vendor.filter(vendor =>{
            return vendor._id == element
          })
          return selectedVendor[0].Name
         }

         const getLocation = function (element){
          selectedlocation =  response.WH.filter(location =>{
            return location._id == element
          })
          return selectedlocation[0].WHName
         }

           //POPULATE XLSX FOR TRANSFER
        transfers.forEach(trans =>{
            //  populate data for xlsx sheet
            for (let index = 0; index < trans.orders.length; index++) {
              const products = trans.orders[index];
              Transferdata.push({
              batch:products.item.BatchNo,sku:products.item.productName ? products.item.productName : products.item.Name,vendor:products.item.vendorName,
              productCategory:products.item.category,scale:products.item.UOM,waybillNo:trans.billReferenceNo,Qty:products.Qty,
              ExpiryDate:products.ExpDate,Unit_Price:products.item.VendorPrice,SKU_Code:products.item.ADCcode,recieved_Date:trans.recievedDate,Transfer_Date:trans.transferedDate,In_Bound:getLocation(trans.to),Out_Bound:getLocation(trans.from)
              })
            }
          })

          OutTransfers.forEach(trans =>{
            //  populate data for xlsx sheet
            for (let index = 0; index < trans.orders.length; index++) {
              const products = trans.orders[index];
              OutTrasnferdata.push({
              batch:products.item.BatchNo,sku:products.item.productName ? products.item.productName : products.item.Name,vendor:products.item.vendorName,
              productCategory:products.item.category,scale:products.item.UOM,waybillNo:trans.billReferenceNo,Qty:products.Qty,
              ExpiryDate:products.ExpDate,Unit_Price:products.item.VendorPrice,SKU_Code:products.item.ADCcode,recieved_Date:trans.recievedDate,Transfer_Date:trans.transferedDate,Out_Bound:getLocation(trans.from),In_Bound:getLocation(trans.to)
              })
            }
          })

        selectedLocation.map(async(element)=>{

        let tr = document.createElement('tr')
        let counter = document.createElement('td')
        let Remarks = document.createElement('td')
        let LpoNo = document.createElement('a')
        let lpoDate = document.createElement('td')
        let Vendor = document.createElement('td')
        let returnRemark = document.createElement('td')
        let lpoValue = document.createElement('td')
        let Orders = document.createElement('td')
        let ReturnQty = document.createElement('td')
        let discountRecieved = document.createElement('td') 
        
        //  populate data for xlsx sheet
        for (let index = 0; index < element.orders.length; index++) {
          const products = element.orders[index];
          Dumpdata.push({batch:products.BatchNo,sku:products.item.productName ? products.item.productName : products.item.Name,vendor:products.item.vendorName,
            productCategory:products.item.category,scale:products.item.UOM,waybillNo:element.billReferenceNo,Qty:products.Qty,
            LpoDate:element.recievedDate,ExpiryDate:products.ExpDate,Remark:element.Remarks,Unit_Price:products.item.VendorPrice,SKU_Code:products.item.ADCcode
          })

        }

        // assign element to variable
        counter.innerText = `${count++}`
        LpoNo.innerText = element.billReferenceNo
        LpoNo.href = `/api/v1/Purchase/bill/${element._id}`
        lpoDate.innerText = element.recievedDate
        lpoValue.innerText = `₦${parseInt(element.grandTotal)}`
        Orders.innerText = element.orders.length
        Remarks.innerText = element.Remarks ? `${element.Remarks.substring(0,15)}...`: ''
        discountRecieved.innerText =`₦${element.discount}`
        Remarks.setAttribute('title', element.Remarks)
        Vendor.innerText = getVendor(element.Vendor)
        ReturnQty.innerText = `₦${element.ReturnQty}`

        // add style 
        tr.classList.add('border')
        counter.classList.add('border')
        // append element to table body
        tr.appendChild(counter)
        tr.appendChild(LpoNo)
        tr.appendChild(Vendor)
        tr.appendChild(Orders)
        tr.appendChild(lpoDate)
        tr.appendChild(Remarks)
        tr.appendChild(discountRecieved)
        tr.appendChild(ReturnQty)
        tr.appendChild(lpoValue)
        tbody.append(tr)
    })
        }else{
            Dumpdata = []
            Transferdata = []
            OutTrasnferdata = []
            document.getElementById('error').innerText = "No Matching Data Found"
        }
})

//download the data from lpo period selected to dump xlxs sheet
  const dumpBtn = document.getElementById('dumpBtn')
  dumpBtn.addEventListener('click',(e) =>{
    const WareHouseSelected = document.getElementById('WareHouse').value
    wareHouse = response.WH.filter((a) => {
      return a._id === WareHouseSelected.toString()
    })
    const saveAsExcel = (Buffer,filename)=>{
        const data = new Blob([Buffer],{type:EXCEL_TYPE})
        saveAs(data,filename+`${wareHouse[0].WHName.toUpperCase()} LPO_dump & Transfers` + EXCEL_EXTENSION)
      }
  
    const EXCEL_TYPE = 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=UTF-8';
        const EXCEL_EXTENSION = '.xlsx';
        const XLSXDOWNLOAD = document.getElementById('XLSX')
        
        const  DownloadXLSX = async(Dumpdata,Transferdata,OutTrasnferdata)=>{
        const worksheet = XLSX.utils.json_to_sheet(Dumpdata);
        const TrasnferSheet =  XLSX.utils.json_to_sheet(Transferdata);
        const OutTrasnferSheet =  XLSX.utils.json_to_sheet(OutTrasnferdata);
            const workbook = {
                Sheets: {
                    'LPO_DUMP' : worksheet,
                    'IN-TRANSFERS':TrasnferSheet,
                    'OUT-TRANSFERS':OutTrasnferSheet
                },
                SheetNames: ['LPO_DUMP','IN-TRANSFERS', 'OUT-TRANSFERS']
            };
            const excelBuffer = XLSX.write(workbook, {bookType: 'xlsx', type: 'array'});

            saveAsExcel(excelBuffer, '');
        }
        DownloadXLSX(Dumpdata,Transferdata,OutTrasnferdata)
  })



  // download search result btn
  document.getElementById('downloadSerach').addEventListener('click',()=>{
    
    const WareHouseSelected = document.getElementById('WareHouse').value

    wareHouse = response.WH.filter((a) => {
      return a._id === WareHouseSelected.toString()
    })

    const saveAsExcel = (Buffer,filename)=>{
        const data = new Blob([Buffer],{type:EXCEL_TYPE})
        saveAs(data,filename+`${wareHouse[0].WHName.toUpperCase()} LPO` + EXCEL_EXTENSION)
      }
  
    const EXCEL_TYPE = 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=UTF-8';
        const EXCEL_EXTENSION = '.xlsx';
        const XLSXDOWNLOAD = document.getElementById('XLSX');
        
        const  DownloadXLSX = async(searchResult)=>{
        const worksheet = XLSX.utils.json_to_sheet(searchResult);
        
            const workbook = {
                Sheets: {
                    'LPO' : worksheet,
                },
                SheetNames: ['LPO']
            };
            const excelBuffer = XLSX.write(workbook, {bookType: 'xlsx', type: 'array'});

            saveAsExcel(excelBuffer, '');
        }
        DownloadXLSX(searchResult)
  });

  

}
    
  </script>
</body>

</html>
