
<!doctype html>
<html lang="en">
    <head>
        <title>BADE ||  K.Y.C <%=result.Username.toUpperCase()%></title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link rel="stylesheet" href="/sale.css" />
        <link rel="icon" type="image/x-icon" href="https://allchannels.com.ng/BADES.jpg">

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>
  
    <body>
        <header>
            <%-include('./partials/Notification.ejs')%> 
            <%-include('./partials/inactive.ejs')%>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
            <!-- place navbar here -->
            <nav class="dash navbar navbar-light bg-light fixed-top" 
            style="background-color: rgb(173, 168, 105) !important">
                <div class="container-fluid">
                    <span  class="navbar-brand" >
                        <img 
                        onclick="history.back()"
                        width="30"
                        hegith="30"
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAA
                        ACXBIWXMAAAsTAAALEwEAmpwYAAAEgklEQVR4nO2a/U/VVRzH31xEbjxEQmjYAobWUkdYIiYxYYg8c+/9HrqUhAaFbvaE60lnOVzTrRbFMCZjNkmvGV6433NjjY2W1WzrgVHNkq0VtkxXZmqaUwyBTzv0Zd01TO4ZP3zP5b628we8vp/z9P5+DhAkSJAgUw1RyPpWCsN0wOmmUI1TK+Pkzf6IZiCQcbpppqZTO+NEYmicXPX1ZEEgUtpFEYxT97isz2hGoOF0UxTjdGgC2fFKb0Og4HRTLOP0xbVkfcYzUB3NQwmM07eTkCWm0yjj9ChUhXVSisbp2KRk/53aw5pOTqiGndNiptMpf2R9pLdDJRw6ZTBOZ2Rkcxu+PAhAnQuJ5qFcjdNFv2V1Gl2+me8FsBpAJlTAoZNd4zTo9xTWR0bS6/a1GLI2ANEwO4zTGqbTVb9lPcNDd9U2vW7IlgCIgNnROD1pHCl+yTo6hwYXVr60w5AtABAOs6Nx2iSzOdk7rlycX/b0VkN2pfk3KqIQplOjjKyt/dIfibk1zxuyKwCEwuzxjum0R0a27O0LpxMy7Bt9dmNzJ6XCbgpnnDwysqWucyfjFq14zJBNBxACM1PVQ5GM0/sysiV7Tw/EJKetM2TTYHZK3qNZjNNnMrJFu0/0R8xJqTFkF8DsON10i6bTERnZgpZjfdbo+LUAHgQwD2bHzilZ0+kHGdm8nf2fWKyRVQAeAJAIs+P00kJNp5MysrkNfT0WS1glgAoACTA75V5KZzr9LiObveNwl7FeywHEw+yUc8phOv0plXi2dLkMWQ3ALJgdxqlMNvEsrXO1GrJ2JRLPFAmrkXh8CE2rbdro6PhrUGZK29svizuyUtwtpuW84sdfcBwc9H8d/yP+MhQiFECOkE7MrnrW9s6ls1LSnJpVaqFYANwnpOcsKX6qdP952b+PLpWaZSEAlgrpuDsyN5TsO3Nccnq/+3AbWaEQi4V0VOKi2uK2X6WumJpOH9q8pMYxZbBQSEfE31ZduPv4N5JrutehUxwUYr5IPGHRsWvzd33fK1npfpuX5kIhkkTysYRZH1rZeORjSekfHTqZPyb6ICpUAYulMueVzydqbk9m/GLnlAqFmA3gfrGuM7d2H5A8ss5qHroXChErrt5Cetkmz1syP+LHelBeyoNC3Ggko9VLntizS9NHhiXO6Sual0SUVIZI8V5FSKc+0tjg8Fwdkqi0+FDVUAgrgCIhfWdF/XbRM5Ko9CjTqQ4KMRPAKiGdUlr3ot096H+PWMGkNWM8aSXlr99sb798fjo8ebAAyBLSCem2urIDF36bDo9aQgBkjCWtBVkbSl3nfp7sOl72XMcbyvwPm4B7hHRMYuq6krZTA9cTXr6la79Sbzz+P2kl1RS9eeLotWSztn3Qacjmm785fn1uF0krPHZudWHrT1//Vzbn1d4eQ7ZYiWcPkyR5LF5G3LRmVfN3n47L5jUdPWy0ZMoA3IAA41aRtES8zH3tq0MFLQN9RrPNASAKAcrssaRlsVSGWaOrjP6T+VsyU5S0RGfxZkwTYoxqBwkC//gbNIgEXXRi6msAAAAASUVORK5CYII=">
                        <b>K.Y.C <%=result.Username.toUpperCase()%></b>
                    </span>
                    <!-- <a  >Setup Location</a> -->
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar"
                        aria-controls="offcanvasNavbar"
                    >
                    <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <div
                        class="offcanvas offcanvas-end"
                        tabindex="-1"
                        id="offcanvasNavbar"
                        aria-labelledby="offcanvasNavbarLabel"
                    >
                        <div class="dash offcanvas-header bg-dark-subtle ">
                            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                                Menu
                            </h5>
                            <button
                                type="button"
                                class="btn-close text-reset"
                                data-bs-dismiss="offcanvas"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="offcanvas-body ">
                            <!-- uls -->
                            <ul class="nav nav-tabs d-flex  align-content-center  " id="myTab" role="tablist" >
                                <%-include('./partials/USER.ejs')%>
                                <li class="nav-item active" role="presentation">
                                    <button
                                        class="nav-link active"
                                        id="profile-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#profile"
                                        type="button"
                                        role="tab"
                                        aria-controls="profile"
                                        aria-selected="false"
                                        title=""
                                    >
                                    <%=result.Username%>
                                    </button>
                                </li>
                                <!-- <li class="nav-item" role="presentation">
                                    <button
                                        class="nav-link active"
                                        id="messages-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#messages"
                                        type="button"
                                        role="tab"
                                        aria-controls="messages"
                                        aria-selected="false"
                                        title=""
                                    >
                                    <i class="bi bi-plus-square-fill">
                                    </button>
                                </li> -->
                               </ul> 
                            <div class="list-group mb-5" >
                                <div class="list-group-item list-group-item-action"
                                >
                                <label for="validationCustom01" class="form-label"> Name:</label>
                                <h5><%=result.Username.toUpperCase()%></h5>
                               </div >
                               <div class="list-group-item list-group-item-action"
                               >
                               <label for="validationCustom01" class="form-label">Tel...</label>
                               <p><b>
                                <%=result.phone%>
                               </b></p>
                              </div >

                              <div class="list-group-item list-group-item-action"
                               >
                               <label for="validationCustom01" class="form-label">Email</label>
                               <p><b>
                                <%=result.Email%>
                               </b></p>
                              </div >

                              <div class="list-group-item list-group-item-action"
                              >
                              <label for="validationCustom01" class="form-label">Sales Person</label>
                             
                                <p class=""><b>
                                  <%if(result.salesPerson){%>
                                    <%salesp = employees.filter((person)=>{%>
                                      <%return person._id.toString() === result.salesPerson.toString()%>
                                    <%})%>
                                    <%salesp.map(name =>{%>
                                      <%=name.firstName.toUpperCase()%> <%=name.lastName.toUpperCase()%>
                                    <%})%>
                                  <%}else{%>
                                    Not Assigned
                                  <%}%>
                                </b></p>
                            
                             </div >
                             <div class="list-group-item list-group-item-action"
                              >
                              <label for="validationCustom01" class="form-label">PriceList</label>
                             
                                <p class=""><b>
                                  <%=result.priceList%>
                                </b></p>
                            
                             </div >
                             <div class="list-group-item list-group-item-action"
                              >
                              <label for="validationCustom01" class="form-label">Wallet</label>
                             
                                <p class=""><b>₦<%=result.Debt%></b></p>
                            
                             </div >
                             <div class="list-group-item list-group-item-action"
                             >
                             <label for="validationCustom01" class="form-label">Last payment Date</label>
                             <input type="hidden"  value=" <%=result.lastPayDate%>" id="debtdays">
                             <p>
                              <b class="form-text" id="daystodebt"></b>
                             </p>
                           
                            </div >
                             <div class="list-group-item list-group-item-action"
                              >
                              <label for="validationCustom01" class="form-label">Shop Adrress</label>
                             
                                <p class=""><b><%=result.street%></b></p>
                            
                             </div >
                             <div class="list-group-item list-group-item-action"
                             >
                             <label for="validationCustom01" class="form-label">Service Location</label>
                            
                               <p class=""><b>
                                <%if(result.location){%>
                                  <%location = wh.filter((wh)=>{%>
                                    <%return wh._id.toString() === result.location.toString()%>
                                  <%})%>
                                  <%location.map(name =>{%>
                                    <%=name.WHName.toUpperCase()%> 
                                  <%})%>
                                  <%}%>
                
                               </b></p>
                           
                            </div >
                            <div class="list-group-item list-group-item-action"
                            >
                            <label for="validationCustom01" class="form-label">Manager</label>
                           
                              <p class=""><b>
                                <%if(result.Manager){%>
                                  <%salesp = employees.filter((person)=>{%>
                                    <%return person._id.toString() === result.Manager.toString()%>
                                  <%})%>
                                  <%salesp.map(name =>{%>
                                    <%=name.firstName.toUpperCase()%> <%=name.lastName.toUpperCase()%>
                                  <%})%>
                                <%}%>
                
                              </b></p>
                          
                           </div >
                            
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            
           <!-- Nav tabs -->
          
        </header>

        <main class="pt-4 mb-5">
            <!-- Tab panes -->
            <div class="container p-3 bg-light mb-5 mt-5 justify-content-center shadow animate__animated animate__backInLeft">
                <h5 class="text-body-tertiary"><%=result.Username.toUpperCase()%></h5>
                <div action=""  class="p-1" >
                  <div class="border-bottom  d-flex m-2 font-bold">
                    
                  <%if(user.isAdmin || user.isCFO){%>
                      <div class="border-end p-1 rounded subs" name="category" title="Double click to show section">Customer Information</div>
                      
                      <div class="border-end rounded p-1 subs  " name="category" title="Double click to show section"> Partner Settings</div>
                    
                  <%}%>
                  <%if(user.isAdmin || user.isCFO){%>
                    <div class="border-end rounded p-1 subs" name="category" title="Double click to show section">Transcations</div> 
                  <% }else{ %>
                    <div class="border-end rounded p-1 active text-warning-emphasis shadow-sm " name="" title="">Transcations</div> 
                 <% } %>

                  </div>

                  <div class="d-flex row  border-bottom d-none" id="workInfo">
                    <div class="col-md-4 ">
                      <label for="Name" class="form-label">Name</label>
                      <input type="text" class="form-control" id="Name" value="<%=result.Username%>">
                    </div>
      
      
                    <div class="col-md-4">
                      <label for="validationCustomertel" class="form-label">Telephone &phone;</label>
                      <div class="input-group has-validation">
                        <!-- <a href="tel:+234<%=result.phone%>" class="input-group-text" id="inputGroupPrepend1"><a> -->
                        <input type="text" class="form-control" id="validationCustomertel" aria-describedby="inputGroupPrepend1" required value="<%=result.phone%>">
                      </div>
                    </div>
      
                   
      
                    <div class="col-md-4">
                      <label for="salesPerson" class="form-label">Change Sale person</label>
                      <select name="salesPerson" id="salesPerson" class="form-select">
                        <option >Choose...</option>
                        <%employees.forEach(employe=>{%>
                       <option value="<%=employe._id%>"><%=employe.firstName%> <%=employe.lastName%></option>
                       <% })%>
                    </select>
                    </div>
      
                   
      
                      <div class="col-md-4">
                        <label for="validationCustomEmail" class="form-label"> Email</label>
                        <div class="input-group has-validation ">
                            <a  href="mailto:<%=result.Email%>" class="input-group-text" id="inputGroupPrepend">@</a>
                            <input type="text" class="form-control" id="validationCustomEmail"value="<%=result.Email%>" required aria-describedby="inputGroupPrepend"> 
                          </div>
                      </div>
      
                      
      
                      <div class="col-md-4">
                        <label for="street" class="form-label">Address </label>
                        <div class="input-group has-validation">
                          <input type="text" class="form-control" id="street" placeholder="Apartment, studio, or floor"  aria-describedby="inputGroupPrepend1" value="<%=result.street%>">
                        </div>
                      </div>
      
                      <div class="col-md-4">
                        <label for="Manager" class="form-label">Manager</label>
                        <select name="salesPerson" id="Manager" class="form-select">
                          <option class="bg-warning p-2" value="<%=result.Manager%>" >
                            <%if(result.Manager){%>
                            <%salesp = employees.filter((person)=>{%>
                              <%return person._id.toString() === result.Manager.toString()%>
                            <%})%>
                            <%salesp.map(name =>{%>
                              <%=name.firstName.toUpperCase()%> <%=name.lastName.toUpperCase()%>
                            <%})%>
                            <%}%>(CURRENT)</option>
                          <%employees.forEach(employe=>{%>
                         <option value="<%=employe._id%>"><%=employe.firstName%> <%=employe.lastName%></option>
                         <%})%>
                      </select>
                      </div>
      
                      <div class="col-md-4">
                        <label for="inputZip" class="form-label"> Registration Date</label>
                        <input type="date" class="form-control" id="DOB" value="<%=result.DOB%>">
                      </div>
      
                      <div class="col-md-4">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="gridCheck" <%if(result.NewsFeedSubscription){%>
                              checked="checked"
                              <%}%>>
                          <label class="form-check-label" for="gridCheck">
                             Subscribe to Email Markerting list 
                          </label>
                        </div>
                      </div>
          
          
                  </div>
      
      
                  <div id="privateinfo" class="d-flex border-bottom row d-none p-2 ">
                    <div class="col-md-4">
                      <label for="creditLimit" class="form-label">Credit Limit</label>
                      <div class="input-group has-validation">
                        <input type="text" class="form-control" id="creditLimit" value=<%if(result.creditLimit === null){%>
                          0
                        <%}else{%>
                          <%=result.creditLimit%>
                        <%}%> >
                      </div>
                    </div>
      
                    <div class="col-md-4">
                      <label for="priceList" class="form-label">Price List</label>
                      <select
                        class="form-select "
                        id="priceList"
                        aria-describedby="validationServer04Feedback"
                        required
                      >
                      <option class="bg-warning p-2" value="<%=result.priceList%>" ><%=result.priceList%> (CURRENT)</option>
                      <option value="WareHouse_Price">Whole Sale price (WareHouse_Price)</option>
                      <option value="Market_Price"> Retail price (Market_Price)</option>
                      <option disabled value="Van_Price">Others Price (Van_Price)</option>
                      </select>
                      </div>
      
                      <div class="col-md-4">
                        <label for="category" class="form-label">Billing Method</label>
                        <select id="category" class="form-select" disabled>
                          <option class="bg-warning p-2" value="<%=result.category%>" ><%=result.category%> (CURRENT)</option>
                          <option value='Credit-Customer' disabled selected>Credit Customer</option>
                          <!-- <option value="Pay as Go" disabled>Prepaid customer</option> -->
                        </select>
                      </div>
      
                      
      
                      <div class="col-md-4">
                        <label for="BankJournal" class="form-label text-danger "> Mapped Payment Journal <sub>(This is mapped to designated Bank Account for payment collection)</sub></label>
                        <select name="BankJournal" id="BankJournal" class="form-select" required>
                          
                         <option value="<%=result.BankJournal%>" class="bg-warning p-2">
                           <%if(Accounts.length > 0){%>
                          <%Account = Accounts.filter((Acc)=>{%>
                            <%return result.BankJournal ? Acc._id.toString() === result.BankJournal.toString() : ""%>
                          <%})%>
                          <%Account.map(name =>{%>
                            <%=name.NAME.toUpperCase()%> 
                          <%})%>
                          <%}%>[CURRENT]</option>
                          <%Accounts.forEach(acc=>{%>
                         <option value="<%=acc._id%>"><%=acc.NAME%></option>
                         <% })%>
                      </select>
                      </div>
      
                      <div class="col-md-4">
                        <label for="location" class="form-label">Service Location</label>
                        <select name="location" id="location" class="form-select">
                          
                         <option value="<%=result.location%>" class="bg-warning p-2">
                           <%if(result.location){%>
                          <%location = wh.filter((wh)=>{%>
                            <%return wh._id.toString() === result.location.toString()%>
                          <%})%>
                          <%location.map(name =>{%>
                            <%=name.WHName.toUpperCase()%> 
                          <%})%>
                          <%}%>[CURRENT]</option>
                          <%wh.forEach(wh=>{%>
                         <option value="<%=wh._id%>"><%=wh.WHName%></option>
                         <% })%>
                      </select>
                      </div>
      
                        <div class="form-check form-switch col-md-4 ">
                          <input class="form-check-input" type="checkbox"  id="gridCheck1" <%if(result.blocked){%>
                            checked="checked"
                            <%}%>>
                          <label class="form-check-label" for="selfService"> Block <%=result.Username%> ?</label>
                        </div>
      
                      <div class="col-md-4">
                        <!-- <label for="discount" class="form-label">Discount</label> -->
                        <input id="discount" hidden type="number" disabled class="form-control" placeholder="Register Discount Amount " value="<%=result.discount%>"/>
                        
                      </div>
      
                  </div>
      
                  <div id="thirdinfo" class="flex row justify-between border-bottom">
                      <!-- display customer ledger here -->
                     <div
                      class="table-responsive  animate__animated animate__backInLeft"
                     >
                      <table
                        class="table table-sm table-hover table-borderless table-dark align-middle"
                      >
                      
                        <thead class="table-light">
                          <caption>
                            <%=result.Username%> Transaction History
                          </caption>
                          <tr>
                            <th>Transaction</th>
                            <th>Date</th>
                            <th>DR</th>
                            <th>CR</th>
                            <th>BAL.</th>
                          </tr>
                        </thead>
                        <tbody class="table-group-divider">

                          <%if(transcations.length > 0){%>

                          <%transcations.forEach((Delivery)=>{%>
                            <tr  class="table-light" title="<%=Delivery.ReferenceNo.toUpperCase()%> ">
                              <td class="border text-start"><%=Delivery.ReferenceNo%></td>
                              <td class="border text-start"><p class=""><%=Delivery.Date%></p></td>
                              <td class="border text-start"><p class="text-danger"><%if( Delivery.dr){%>
                                <%= Delivery.DebitAmount %>
                              <%}else{%>
                                0
                              <% } %></p></td>
    
                              <td class="border text-start"><p class="text-primary"><%if( Delivery.cr){%>
                                <%= Delivery.CreditAmount %>
                              <%}else{%>
                                0
                              <% } %></p></td>
    
                              <td class="border text-success">₦<%=Delivery.Balance%></td>
                            </tr>
                            <%})%>

                      <%}else{%>
                        <tr>
                          <td>No Transaction Activity to show</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      <%}%>

                        </tbody>
                        <tfoot>
                          <span class="btn btn-outline-info" title="This will only generate report for last one month" onclick="getReport('<%=result._id%>')">
                            <img width="35" height="35" src="https://img.icons8.com/arcade/64/download.png" alt="download"/>
                            Download Ledger Report</span>
                        </tfoot>
                      </table>
                     </div>
                     
                  </div>

                  <%if(user.isAdmin || user.isCFO){%>
                  <div class="col-md-4">
                    <button type="submit" data-id="<%=result._id%>"  id="update" onclick="update('<%=result._id%>')" class="btn btn-success">Update <%=result.Username%> Profile</button>
                  </div>
                  <%}%>
          </div>
      
        </div>
            </div>
        
            <!-- ends here -->
        </main>
        <footer>
            <!-- place footer here -->
            <div class="container-fluid fixed-bottom bg-dark-subtle ">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <p class="text-center">
                                    BADE &copy; <script>
                                        document.write(new Date().getFullYear());
                                    </script>. All rights reserved.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of footer -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
        <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js" integrity="sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script  src="/Erp.js"></script>
<script src="/filesaver.js" type="module"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.mini.min.js" integrity="sha512-NDQhXrK2pOCL18FV5/Nc+ya9Vz+7o8dJV1IGRwuuYuRMFhAR0allmjWdZCSHFLDYgMvXKyN2jXlSy2JJEmq+ZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js" integrity="sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>


  // calculate debt dats using moments
  // Get the current date

  //get debt days here
  date = document.getElementById('debtdays').value

function calculateDaysFromToday(date) {
  const d = new Date()
  var date1 = new Date(date);
  today = `${d.getMonth() + 1}-${ d.getDate()}-${d.getFullYear()}`
  var date2 = new Date(today); //mm/dd/yyyy
  var diffDays = date2.getDate() - date1.getDate(); 
 return `${diffDays + 1} day(s)`;
}

if(date === " "){
    document.getElementById('daystodebt').innerText = `Not in debt`;
}else{
    document.getElementById('daystodebt').innerText =  date
}


  // =================================================================
  //send pactch request and delete 
// const update = document.getElementById('update');
//get all employee list '/employee/all'
let salesPerson 
  document.querySelector('#salesPerson').addEventListener('change',async (e)=>{
    let request = await fetch(`/api/v1/employee/${e.target.value}`,{
      method: 'GET', 
      headers:{'content-type': 'application/json'}
    })
    salesPerson = await request.json()

  })
  
const update = async (id)=>{
  plsWait(true)
  const Username = document.querySelector('input#Name').value
  const Email = document.querySelector('input#validationCustomEmail').value
  const phone = document.querySelector('input#validationCustomertel').value
  const Address = document.querySelector('input#validationCustomEmail').value
  const creditLimit = document.querySelector('input#creditLimit').value
  const street = document.querySelector('#street').value
  const Discount = document.getElementById("discount").value
  const NewsFeedSubscription = document.querySelector('input#gridCheck').checked
  const blocked = document.querySelector('input#gridCheck1').checked
  const DOB = document.querySelector('input#DOB').value;
  const categorys = document.getElementById("category")
  let category = categorys.options[categorys.selectedIndex].value;
  let priceList = document.querySelector('#priceList').value
  let Manager = document.querySelector('#Manager').value
  let location = document.querySelector('#location').value
  let BankJournal = document.querySelector('#BankJournal').value;

  const url = `/api/v1/customer/update/${id}`;

  const data = await fetch(url,{
    method:'PATCH',
    body: JSON.stringify({
      Username,
      phone,
      Email,
      NewsFeedSubscription,
      blocked,
      creditLimit,
      Discount,
      DOB,
      category,
      street,
      salesPerson,
      priceList,Manager,location,BankJournal
    }),
    headers:{'Content-Type': 'application/json'}
  })

    const res = await data.json()
        if (res.result){
          ShowServerResponse(res.result)
          plsWait(false)
          // Window.assign('/api/v1/customer/<%=result._id%>/edit')
        }else{
          plsWait(false)
          serverError(res.error)
        }
}


//download report 

const getReport = async (id)=>{
  plsWait(true)

  const EXCEL_TYPE = 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=UTF-8';
        const EXCEL_EXTENSION = '.xlsx';
        
        const  DownloadXLSX = async(data)=>{
        const worksheet = XLSX.utils.json_to_sheet(data);
            const workbook = {
                Sheets: {
                    'data' : worksheet
                },
                SheetNames: ['data']
            };
            const excelBuffer = XLSX.write(workbook, {bookType: 'xlsx', type: 'array'});
            saveAsExcel(excelBuffer, '');
        }
    

        const saveAsExcel = (Buffer,filename)=>{
        const data = new Blob([Buffer],{type:EXCEL_TYPE})
        saveAs(data,filename+'<%=result.Username%> Ledger Transaction' + EXCEL_EXTENSION)
        }
  
  //get first of last month
  //get current day
  const Day = moment().subtract(1,'months').format('DD');
  //get current month 
  const Month = moment().subtract(1,'months').format('MM');
  //get current year
  const Year = moment().subtract(1,'months').format('YYYY');
  const Startdate = `${parseInt(Month)}/${Day}/${Year}`
  const Enddate = `${new Date().getMonth() + 1}/${Day}/${Year}`
  const url = `/api/v1/customerReport/Generate?Startdate=${Startdate}&Enddate=${Enddate}&view=${id}`;
  const request = await fetch(url,{
    method: 'GET', 
    headers:{'content-type': 'application/json'}
  })

  const response =  await request.json();
  if(!response.error){
    let data = []
    const formatter = new Intl.DateTimeFormat('en-us')
    let invoice
    let customers 
    let Employee
    let wareHouse

      customers = response.customers
      Employee = response.Employee
      invoice = response.invoice
      wareHouse = response.WH

      invoice.forEach(element => {
        //excell data
        data.push({NAME:'<%=result.Username%>',DATE:formatter.format(new Date(element.Date)),REF:element.ReferenceNo,DEBIT:element.DebitAmount,CREDIT:element.CreditAmount,BALANCE:element.Balance}) 
      });
    

    DownloadXLSX(data)

    ShowServerResponse('Your Report query is ready') 
    plsWait(false)
  }else{
    serverError(response.error)
    plsWait(false)
  }
}



</script>
    </body>
</html>
