
<!doctype html>
<html lang="en">
    <head>
        <title>BADE || </title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link rel="stylesheet" href="/sale.css" />
        <link rel="icon" type="image/x-icon" href="https://allchannels.com.ng/BADES.jpg">

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>
  
    <body>
        <header>
            <%-include('./partials/Notification.ejs')%> 
            <%-include('./partials/inactive.ejs')%>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
            <!-- place navbar here -->
            <nav class="dash navbar navbar-light bg-light fixed-top" 
            style="background-color: rgb(173, 168, 105) !important">
                <div class="container-fluid">
                    <span  class="navbar-brand" >
                        <img 
                        onclick="history.back()"
                        width="30"
                        hegith="30"
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAA
                        ACXBIWXMAAAsTAAALEwEAmpwYAAAEgklEQVR4nO2a/U/VVRzH31xEbjxEQmjYAobWUkdYIiYxYYg8c+/9HrqUhAaFbvaE60lnOVzTrRbFMCZjNkmvGV6433NjjY2W1WzrgVHNkq0VtkxXZmqaUwyBTzv0Zd01TO4ZP3zP5b628we8vp/z9P5+DhAkSJAgUw1RyPpWCsN0wOmmUI1TK+Pkzf6IZiCQcbpppqZTO+NEYmicXPX1ZEEgUtpFEYxT97isz2hGoOF0UxTjdGgC2fFKb0Og4HRTLOP0xbVkfcYzUB3NQwmM07eTkCWm0yjj9ChUhXVSisbp2KRk/53aw5pOTqiGndNiptMpf2R9pLdDJRw6ZTBOZ2Rkcxu+PAhAnQuJ5qFcjdNFv2V1Gl2+me8FsBpAJlTAoZNd4zTo9xTWR0bS6/a1GLI2ANEwO4zTGqbTVb9lPcNDd9U2vW7IlgCIgNnROD1pHCl+yTo6hwYXVr60w5AtABAOs6Nx2iSzOdk7rlycX/b0VkN2pfk3KqIQplOjjKyt/dIfibk1zxuyKwCEwuzxjum0R0a27O0LpxMy7Bt9dmNzJ6XCbgpnnDwysqWucyfjFq14zJBNBxACM1PVQ5GM0/sysiV7Tw/EJKetM2TTYHZK3qNZjNNnMrJFu0/0R8xJqTFkF8DsON10i6bTERnZgpZjfdbo+LUAHgQwD2bHzilZ0+kHGdm8nf2fWKyRVQAeAJAIs+P00kJNp5MysrkNfT0WS1glgAoACTA75V5KZzr9LiObveNwl7FeywHEw+yUc8phOv0plXi2dLkMWQ3ALJgdxqlMNvEsrXO1GrJ2JRLPFAmrkXh8CE2rbdro6PhrUGZK29svizuyUtwtpuW84sdfcBwc9H8d/yP+MhQiFECOkE7MrnrW9s6ls1LSnJpVaqFYANwnpOcsKX6qdP952b+PLpWaZSEAlgrpuDsyN5TsO3Nccnq/+3AbWaEQi4V0VOKi2uK2X6WumJpOH9q8pMYxZbBQSEfE31ZduPv4N5JrutehUxwUYr5IPGHRsWvzd33fK1npfpuX5kIhkkTysYRZH1rZeORjSekfHTqZPyb6ICpUAYulMueVzydqbk9m/GLnlAqFmA3gfrGuM7d2H5A8ss5qHroXChErrt5Cetkmz1syP+LHelBeyoNC3Ggko9VLntizS9NHhiXO6Sual0SUVIZI8V5FSKc+0tjg8Fwdkqi0+FDVUAgrgCIhfWdF/XbRM5Ko9CjTqQ4KMRPAKiGdUlr3ot096H+PWMGkNWM8aSXlr99sb798fjo8ebAAyBLSCem2urIDF36bDo9aQgBkjCWtBVkbSl3nfp7sOl72XMcbyvwPm4B7hHRMYuq6krZTA9cTXr6la79Sbzz+P2kl1RS9eeLotWSztn3Qacjmm785fn1uF0krPHZudWHrT1//Vzbn1d4eQ7ZYiWcPkyR5LF5G3LRmVfN3n47L5jUdPWy0ZMoA3IAA41aRtES8zH3tq0MFLQN9RrPNASAKAcrssaRlsVSGWaOrjP6T+VsyU5S0RGfxZkwTYoxqBwkC//gbNIgEXXRi6msAAAAASUVORK5CYII=">
                        <b> WORK CONTRACT</b>
                    </span>
                    <!-- <a  >Setup Location</a> -->
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar"
                        aria-controls="offcanvasNavbar"
                    >
                    <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <div
                        class="offcanvas offcanvas-end"
                        tabindex="-1"
                        id="offcanvasNavbar"
                        aria-labelledby="offcanvasNavbarLabel"
                    >
                        <div class="dash offcanvas-header bg-dark-subtle ">
                            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                                Menu
                            </h5>
                            <button
                                type="button"
                                class="btn-close text-reset"
                                data-bs-dismiss="offcanvas"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="offcanvas-body ">
                            <!-- uls -->
                            <ul class="nav nav-tabs d-flex  align-content-center  " id="myTab" role="tablist" >
                                <li class="nav-item dropdown">
                                    <a
                                        class="nav-link dropdown-toggle"
                                        href="#"
                                        id="dropdownId"
                                        data-bs-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                        title="<%= user.firstName %> <%= user.lastName %>"
                                        ><img width="30" height="30" src="<%=user.image ? user.image :" https://cdn.pixabay.com/photo/2019/08/11/18/59/icon-4399701_640.png"%>" alt="" srcset=""></a
                                    >
                                    <div
                                        class="dropdown-menu bg-dark-subtle "
                                        aria-labelledby="dropdownId"
                                    >
                                        <a class="dropdown-item badge bg-warning" href="/api/v1/employee/<%= user._id %>/user"
                                            >My Profile</a
                                        >
                                        <a class="dropdown-item badge bg-primary" href="#"
                                            >Chat Channels</a
                                        >
                                        <a class="dropdown-item badge bg-info " href="#"
                                            >Notifications
                                            [<%= user.Notification.length %>]</a
                                        >   
                                    </div>
                                </li>
                                <li class="nav-item active" role="presentation">
                                    <button
                                        class="nav-link active"
                                        id="profile-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#profile"
                                        type="button"
                                        role="tab"
                                        aria-controls="profile"
                                        aria-selected="false"
                                        title=""
                                    >
                                    
                                    </button>
                                </li>
                                <!-- <li class="nav-item" role="presentation">
                                    <button
                                        class="nav-link active"
                                        id="messages-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#messages"
                                        type="button"
                                        role="tab"
                                        aria-controls="messages"
                                        aria-selected="false"
                                    >
                                    <i class="bi bi-plus-square-fill">
                                    </button>
                                </li> -->
                               </ul> 
                            <div class="list-group mb-5" >
                                <div class="list-group-item list-group-item-action"
                                >
                                <label for="validationCustom01" class="form-label">Contract Title:</label>
                                <h5></h5>
                               </div >
                               <div class="list-group-item list-group-item-action"
                               >
                               <label for="validationCustom01" class="form-label">Product code</label>
                               <p><b></b></p>
                              </div >

                              <div class="list-group-item list-group-item-action"
                              >
                              <label for="validationCustom01" class="form-label">Whole-sale Price</label>
                             
                                <p class=""><b></b></p>
                            
                             </div >
                             <div class="list-group-item list-group-item-action"
                              >
                              <label for="validationCustom01" class="form-label">Van Price:</label>
                             
                                <p class=""><b></b></p>
                            
                             </div >
                             <div class="list-group-item list-group-item-action"
                              >
                              <label for="validationCustom01" class="form-label">Market Price</label>
                             
                                <p class=""><b></b></p>
                            
                             </div >
                            
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            
           <!-- Nav tabs -->
          
        </header>

        <main class="pt-4 mb-5">
            <!-- Tab panes -->
            <div class="container p-3 bg-light mb-5 mt-5 justify-content-center shadow ">
        
                <input type="file" name="" hidden id="files">
                <form action=""  method="patch" id='form' class="p-2   " >
                   
                       
                        <div class="d-flex justify-content-between">
                            <span title="Click to Duplicate " onclick=";location.assign('/api/v1/Clone/Product/')">
                                <i class="bi bi-copy"></i>
                            </span>
                            
                            <span id="downloadBTN" onclick="getData()"  title="Download to Pdf">
                                <i class="bi bi-filetype-pdf"></i>
                              </span>
        
                        
                       </div>

                       <div class="col">
                        <div class="col-md-5">
                            <label for="" class="form-label"><h5>New Contract</h5></label>
                          <input
                            type="text"
                            name="name"
                            id="Name"
                            class="form-control is-valid"
                            placeholder="Title of contract"
                            aria-describedby="helpId"
                            required
                          />
                        </div>
                      </div>
                    <div class="border-bottom rounded d-flex font-bold">
                        <div class="border-end p-1 rounded subs" name="category" title="Double click to show section">Contract Settings</div>
                        <%if(user.isAdmin  ||user.editSalesPrice || user.editPromoPrice ){%>  
                        <div class="border-end rounded p-1 subs" name="category" title="Double click to show section">Salary Structure</div>
                        <div class="border-end rounded p-1 subs d-none" name="category" title="Double click to show section"></div> 
                        <%}%> 
                    </div>
                    <!-- prouct information -->
                        <div class="d-flex row d-none p-5 border-bottom" id="workInfo">

                          <div class="col-md-4">
                            <label  class="form-label" for="category">Contract Type</label>
                             <select id="type" required class="form-select" name="category">
                             <optgroup label="category">
                              <option ></option>
                                 <option value="Full">Full Time</option>
                                  <option value="Part"> Part Time</option>
                             </optgroup>
                            </select>
                        </div>

                                <div class="col-md-4">
                                    <label class="form-label">Grade Level</label>
                                <input type="number"  class="form-control" name="GradeLevel" step="any" placeholder="Grade Level">
                                </div>
        
                                <div class="col-md-4">
                                    <label class="form-label">Auto Generate Pay-Slip Date</label>
                                <input type="datetime-local"  class="form-control" name="Generationday" step="any">
                                </div>
                                <div class="col-md-4">
                                  Auto Generate Pay-Slip?
                                  <label class="switch">
                                      <input type="checkbox"  id="autoGen" name="autoGen" 
                                     
                                      >
                                      <div class="slider"></div>
                                  </label>
                              </div>
                              <!-- OPTION TO DISPLAY ON eCOMMERCE  -->
                              <div class="col-md-4">
                                  Activate Contract
                                  <label class="switch">
                                      <input type="checkbox" name="status" >
                                      <div class="slider"></div>
                                  </label>
                              </div>
                           
                        </div>

                        <!-- product settings -->
                        <div id="privateinfo" class="d-flex border-bottom row d-none p-5 ">

                        <div class="col-md-12">
                        <!-- product price change -->
                        <label for="form-label"><b>Salary Computation</b></label>
                       
                            <table class="border w-100">
                              <thead class="border font-bold">
                                <td  class="border">Description</td>
                               <td  class="border">Name</td>
                               <td class="border">Amount</td>
                              </thead>
                              <th>
                                <tr>
                                  <td><B>EARNINGS</B></td>
                                </tr>
                                <tbody id="Earnings" data-earning="Earnings" class="border p-2" >
                                  <tr >
                                    <td>No Item Added</td>
                                    <td></td>
                                    <td></td>
                                  </tr> 
                                </tbody>
                                <tr>
                                  <td class="badge bg-success-subtle text-dark border roundeed shadow m-2" id="earnBtn">New item</td>
                                </tr>
                              </th>
                              <th>
                                <tr>
                                  <td><b>DEDUCTIONS -</b></td>
                                </tr>
                                <tbody id="tbody2" data-deduct="Deductions" class="border p-2">
                                  <tr>
                                    <td>No Item Added</td>
                                    <td></td>
                                    <td></td>
                                  </tr> 
                                </tbody>
                                <tr>
                                  <td class="badge bg-danger-subtle text-dark border roundeed shadow m-2" id="DeductionBtn">New item</td>
                                </tr>
                              </th>
                            <tr>
                              <td ><h4 id="Max"></h4></td>
                            </tr>
                       </table>
                        <!-- ends here -->
                        
                        </div>
                    </div>
        
                        <%if(user.isAdmin ||user.editSalesPrice){%>   
                        <!-- description -->
                        <div id="thirdinfo" class="form-floating">
                                <!-- <textarea class="form-control" placeholder="Leave a discription here" rows="4" cols="50" name="Description" id="floatingTextarea" title="please note that description added will reflect on your E-commerce Product Description (EPD). Hence, it should be properly Constructed."></textarea>
                                <label for="floatingTextarea">Description</label> -->
                        </div>
                        <%}%> 
        
                    <%if(user.isAdmin ){%> 
                        <div class="col-md-7 mt-2">
                            <button  type="submit" class="btn btn-success">Create Contract  </button>
                        </div>
                    <%}%> 
                </form>
              </div>
        
            <!-- ends here -->
        </main>
        <footer>
            <!-- place footer here -->
            <div class="container-fluid fixed-bottom bg-dark-subtle ">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <p class="text-center">
                                    BADE &copy; <script>
                                        document.write(new Date().getFullYear());
                                    </script>. All rights reserved.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of footer -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
        <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js" integrity="sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-app.js"></script>
        <!-- TODO: Add SDKs for Firebase products that you want to use -->
        <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-storage.js"></script>
        <script type="module" src="/ImageUpload.js"></script>
        <script src="https://unpkg.com/jspdf-invoice-template@1.4.0/dist/index.js"></script>
        <script src="/filesaver.js" type="module"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js" integrity="sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script  src="/Erp.js"></script>
        <script  type="module">
          import { v4 as uuidv4 } from 'https://jspm.dev/uuid';
       //  get the newInput button 
       const newInput = document.getElementById('earnBtn');
       const DeductionBtn = document.getElementById('DeductionBtn');
       
         const WorkContract = {
           name:'',
           GradeLevel:'',
           category:'',
           Generationday:'',
           status:'',
           autoGen:false,
           salaryStructure:[],
           Deductions: [],
           Total:0,
         }


          function item(){
           this.name = '',
           this.value = 0,
           this.id = uuidv4() 
          }
       
         
       
       
       newInput.addEventListener('click',(e) => {
         WorkContract.salaryStructure.push(new item())
         RenderDom(WorkContract.salaryStructure) 
       })

       DeductionBtn.addEventListener('click',(e) => {
         WorkContract.Deductions.push(new item())
         RenderDom2(WorkContract.Deductions) 
         
       })
       
       
       // reder dom elements
       const RenderDom = (salaryStructure) => {
         const Earnings = document.getElementById('Earnings');
         Earnings.innerHTML = ''

         salaryStructure.forEach(element =>{
             //create a new element with the same name as the element 
             const tr = document.createElement('tr');
             const empty = document.createElement('td');
             const td = document.createElement('td');
             const Input = document.createElement('input');

             const td2 = document.createElement('td');
             const Input2 = document.createElement('input');
             
             // set the id of the new element
             Input.value = element.name;
             Input2.value = element.value;
             // set the value of the new element


              // delete 
              const deleteItem = () => {
              let index = salaryStructure.findIndex((item) => {
                return item === element;
              });
              
              if (index > -1) {
                try {
                  salaryStructure.splice(index, 1);
                  RenderDom(salaryStructure);

                  calculateMax(WorkContract);

                  ShowServerResponse("Item removed successfully");
                } catch (error) {
                  serverError(error.message);
                }
              }
            };

             // set the id of the new element
             Input2.addEventListener('change',(e) => {
      
      let index = salaryStructure.findIndex((item) => {
        return item === element;
      });
      if (index > -1) {
        try {
          element.value = parseInt(e.target.value);
          RenderDom(salaryStructure);
          calculateMax(WorkContract);
        } catch (error) {
          serverError(error.message);
        }
      }
    })

    Input.addEventListener('change',(e) => {

    let index = salaryStructure.findIndex((item) => {
      return item === element;
    });
    if (index > -1) {
      try {
        element.name = e.target.value
        RenderDom(salaryStructure);
        calculateMax(WorkContract);
      } catch (error) {
        serverError(error.message);
      }
    }
  })

            empty.onclick = deleteItem

             Input.setAttribute('placeholder', 'Type a Name');
             Input2.setAttribute('type', 'number');
             empty.innerText = String.fromCodePoint(128465)

              //  add styles to the element
              tr.classList.add('border');
              Input.classList.add('form-control');
              Input2.classList.add('form-control');

             td.appendChild(Input)
             td2.appendChild(Input2)
             tr.appendChild(empty)
             tr.appendChild(td)
             tr.appendChild(td2)
             Earnings.append(tr);
             calculateMax(WorkContract);
      })
         
      }


       // reder dom elements
    const RenderDom2 = (salaryStructure) => {
         const Earnings = document.getElementById('tbody2');
         Earnings.innerHTML = ''

         salaryStructure.forEach(element =>{
             //create a new element with the same name as the element 
             const tr = document.createElement('tr');
             const empty = document.createElement('td');
             const td = document.createElement('td');
             const Input = document.createElement('input');

             const td2 = document.createElement('td');
             const Input2 = document.createElement('input');
             
             // set the id of the new element
             Input.value = element.name;
             Input2.value = element.value;
             // set the value of the new element


              // delete 
            const deleteItem = () => {
              let index = salaryStructure.findIndex((item) => {
                return item === element;
              });
              
              if (index > -1) {
                try {
                  salaryStructure.splice(index, 1);
                  RenderDom2(salaryStructure);

                  calculateMax(WorkContract);

                  ShowServerResponse("Item removed successfully");
                } catch (error) {
                  serverError(error.message);
                }
              }
            };



             // set the id of the new element
             Input2.addEventListener('change',(e) => {
      
              let index = salaryStructure.findIndex((item) => {
                return item === element;
              });
              if (index > -1) {
                try {
                  element.value = parseInt(e.target.value);
                  RenderDom2(salaryStructure);
                  calculateMax(WorkContract);
                } catch (error) {
                  serverError(error.message);
                }
              }
            })

            Input.addEventListener('change',(e) => {
      
            let index = salaryStructure.findIndex((item) => {
              return item === element;
            });
            if (index > -1) {
              try {
                element.name = e.target.value
                RenderDom2(salaryStructure);
                calculateMax(WorkContract);
              } catch (error) {
                serverError(error.message);
              }
            }
          })




             Input.setAttribute('placeholder', 'Type a Name');
             Input2.setAttribute('type', 'number');
             empty.innerText = String.fromCodePoint(128465)
             empty.onclick = deleteItem

              //  add styles to the element
              tr.classList.add('border');
              Input.classList.add('form-control');
              Input2.classList.add('form-control');

             td.appendChild(Input)
             td2.appendChild(Input2)
             tr.appendChild(empty)
             tr.appendChild(td)
             tr.appendChild(td2)
             Earnings.append(tr);
             calculateMax(WorkContract);

      

        })
         
    }


      const calculateMax = function (Apraisals) {
       
        var salaryStructure = Apraisals.salaryStructure
          .map((kpi) => {
            return kpi.value;
          })
          .reduce((total, currentValue) => {
            return parseInt(total) + parseInt(currentValue);
          }, 0);

          var Deductions = Apraisals.Deductions
          .map((kpi) => {
            return kpi.value;
          })
          .reduce((total, currentValue) => {
            return parseInt(total) + parseInt(currentValue);
          }, 0);

          const max = salaryStructure - Deductions
          WorkContract.Total = max
          
        document.getElementById("Max").innerText = `NET PAY: ₦${WorkContract.Total}`;
       
        return max;
      };


      // post request to the server
      //get form element
      const form = document.getElementById('form');
      form.addEventListener('submit', async (e) => {
        e.preventDefault();
        plsWait(true)
        const formData = new FormData(form);
        const data = Object.fromEntries(formData.entries());
        const url = `/api/v1/workContracts/`;
        const options = {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            name:data.name,
            salaryStructure:WorkContract.salaryStructure,
            Deductions:WorkContract.Deductions,
            Total:WorkContract.Total,
            date:data.date,
            GradeLevel:data.GradeLevel,
            category:data.category,
            Generationday:data.Generationday,
            status:data.status.checked,
            autoGen:data.autoGen.checked,
          }),
        };
        await fetch(url, options)
         .then((response) => response.json())
         .then((data) => {
          ShowServerResponse(data);
          location.reload()
        })
        .catch((error) => {
          serverError(error);
          plsWait(false)
          });
      });

      // // post request to the server
      // //get form element
      // const form2 = document.getElementById('form2');
      //   const url = `/api/v1/workContracts/?user=${Activeuser}`;
      //   const options = {
      //     method: 'POST',
      //     headers: {
      //       'Content-Type': 'application/json',
      //     },
      //     body: JSON.stringify(),
      //   };
      //   await fetch(url, options)
      //    .then((response) => response.json())
      //    .then((data) => {
      //       console.log(data);
      //     })
      //    .catch((error) => {
      //       console.log(error);
      //     });
      

      

       </script>
    </body>
</html>
