<!doctype html>
<html lang="en">
    <head>
        <title>BADE || Payment Register/<%= van.VehiclePlate %></title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link rel="icon" type="image/x-icon" href="https://allchannels.com.ng/BADES.jpg">
        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="/sale.css" />
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>
        <%-include('../partials/Notification.ejs')%> 
    </head>

    <body>
        <header>
            <!-- place navbar here -->
             <nav class="dash navbar navbar-light bg-dark fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand"  href="/api/v1/POS/Van?van=<%= van._id%>" title="Dashboard">
                        <img width="30" height="30" src="https://img.icons8.com/stickers/100/dashboard-layout.png" alt="dashboard-layout"/>
                        <b>Payments</b>
                      </a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar"
                        aria-controls="offcanvasNavbar"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div
                        class="offcanvas offcanvas-end"
                        tabindex="-1"
                        id="offcanvasNavbar"
                        aria-labelledby="offcanvasNavbarLabel"
                    >
                        <div class="dash offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                                Menu
                            </h5>
                            <button
                                type="button"
                                class="btn-close text-reset"
                                data-bs-dismiss="offcanvas"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                <div class="list-group " >
                                <%-include('../partials/USER.ejs')%>
                                <%if(user._id.toString() === van.Driver.toString()){%>
                                  <li class="nav-item">
                                      <a
                                      class="list-group-item list-group-item-action"
                                          aria-current="page"
                                          href="/api/v1/Mycustomers?Mycustomers=<%= van._id%>"
                                          >
                                          <img width="30" height="30" src="https://img.icons8.com/color/48/shop.png" alt="shop"/>
                                          My Customers</a
                                      >
                                  </li>
                                  <li class="nav-item">
                                    <a
                                        class="list-group-item list-group-item-action"
                                        aria-current="page"
                                        href="/api/v1/New/Invoice?van=<%= van._id%>"
                                        >
                                        <img width="30" height="30" src="https://img.icons8.com/plasticine/100/invoice-1.png" alt="invoice-1"/>
                                        New Invoice</a>
                                </li>
                                  <% } %>
                                  <li class="nav-item">
                                      <a class="list-group-item list-group-item-action " href="/api/v1/Myproducts?Myproducts=<%= van._id%>">
                                        <img width="30" height="30" src="https://img.icons8.com/pastel-glyph/64/move-by-trolley.png" alt="move-by-trolley"/>
                                        Inventory</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="list-group-item list-group-item-action" href="/api/v1/POS/Van?van=<%= van._id%>">
                                      <img width="25" height="25" src="https://img.icons8.com/stickers/100/dashboard-layout.png" alt="dashboard-layout"/>
                                      Dashboard</a>
                                </li>
                                  <li class="nav-item dropdown">
                                      <a
                                          class="nav-link dropdown-toggle"
                                          href="#"
                                          id="dropdownId"
                                          data-bs-toggle="dropdown"
                                          aria-haspopup="true"
                                          aria-expanded="false"
                                          >More</a
                                      >
                                      <div
                                          class="dropdown-menu"
                                          aria-labelledby="dropdownId"
                                      >
                                          <a class="dropdown-item" href="/api/v1/Todays/Visit?van=<%= van._id%>"
                                              >
                                              <img width="30" height="30" src="https://img.icons8.com/fluency/48/route.png" alt="route"/>
                                              Todays Route</a
                                          >
                                          <a class="dropdown-item active" href="/api/v1/PaymentMethods?van=<%= van._id %>"
                                              >
                                              <img width="30" height="30" src="https://img.icons8.com/color/48/split-transaction.png" alt="split-transaction"/>
                                              Register Payment</a
                                          >
                                          <% if ( van.Manager.toString() === user._id.toString() || user.isAdmin) { %>
  
                                            <a class="dropdown-item" href="/api/v1/van/Settings?van=<%= van._id%>"
                                                >
                                                <img width="30" height="30" src="https://img.icons8.com/cotton/64/settings--v1.png" alt="settings--v1"/>
                                                Settings</a
                                            >
                                            <% } %>
                                      </div>
                                  </li>
                                  </div>
                              </ul>
                            <!-- <form class="d-flex">
                                <input
                                    class="form-control me-2"
                                    type="search"
                                    placeholder="Search"
                                    aria-label="Search"
                                />
                                <button class="btn btn-outline-success" type="submit">
                                    Search
                                </button>
                            </form> -->
                        </div>
                    </div>
                </div>
             </nav>
             
        </header>
        <main class="pt-4 m-3 position-relative">
            <form id="updateVanForm" class="container-fluid mb-5 mt-5 p-3 flex items-center flex-col justify-center gap-3 shadow bg-light">
              
                <div class="content ">
                    <h5>Register Payment</h5>
                    <div class="col-md-4">
                        <label for="Customer" class="form-label">Choose a Customer</label>
                        <select
                            class="form-select form-select"
                            name="Customer"
                            id="Customer"
                        >
                        <option  selected disabled>Choose...</option>
                       <% if (Vancustomers.length > 0) { %>
                            <% Vancustomers.forEach(element => { %>
                                <option value="<%= element._id %>"><%= element.name %></option>
                            <% }) %>
                       <% } %>
                        </select>
                     </div>

                   <div class="col-md-4">
                        <label for="Amount" class="form-label">Enter Amount</label>
                        <input
                            type="number"
                            class="form-control"
                            id="Amount"
                            name="Amount"
                            required
                            placeholder="Amount collected from Customer" 
                            step="any"
                        />
                    </div>

                    <div class="col-md-4">
                        <label for="" class="form-label">Complete Transaction </label>
                        <button type="submit" class="form-control btn btn-primary">Submit</button>
                    </div>

                    <!-- display customer list here -->

                    <br>
                    <hr>
                    <h5>Payment Log</h5>
                    <div id="body">

                       <% if (transactions.length > 0) { %>
                            <% transactions.forEach(element => { %>
                                <span  class=" list-group position-relative mb-2" title=""  id="reverseID"  data-reverse="">
                                    <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" id="rev" >
                                        <small class="position-absolute top-0  start-50 translate-middle badge rounded-pill bg-warning"title='grand total of this bill'>
                                           <%= element.transactionAmount %>
                                        </small>
                                        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/api/v1/retailPayment?payment=<%= element._id %>" >
                                        <%= element.paymentReferenceNo %> [<%= element.PaymentDate%>]
                                        </a>
                                        <small><%= element.status %></small>
                                    </div> 
                                </span>
                            <% }) %>
                       <% }else{%>
                        <span  class="opacity-50 list-group position-relative mb-2" title=""  id="reverseID"  data-reverse="">
                            <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" id="rev" >
                                <small class="position-absolute top-0  start-50 translate-middle badge rounded-pill bg-warning"title='grand total of this bill'>
                                    N0.00
                                </small>
                                <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" >
                                    No Transaction History
                                </a>
                                </div> 
                        </span>

                        <span  class="opacity-25 list-group position-relative mb-2" title=""  id="reverseID"  data-reverse="">
                            <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" id="rev" >
                                <small class="position-absolute top-0  start-50 translate-middle badge rounded-pill bg-warning"title='grand total of this bill'>
                                    N0.00
                                </small>
                                <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" >
                                    No Transaction History
                                </a>
                                </div> 
                        </span>

                        <span  class="opacity-25 list-group position-relative mb-2" title=""  id="reverseID"  data-reverse="">
                            <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" id="rev" >
                                <small class="position-absolute top-0  start-50 translate-middle badge rounded-pill bg-warning"title='grand total of this bill'>
                                    N0.00 
                                </small>
                                <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" >
                                    No Transaction History
                                </a>
                                </div> 
                        </span>

                       <% } %>
                    </div>
                    
                  
                 </div>      
                </div>
            </form>
        </main>
        <footer style="z-index: 3 !important;">
            <!-- place footer here -->
            <div class="container-fluid fixed-bottom bg-dark-subtle ">
                <div class="row p-2">
                    <!-- for next and filter -->
                      <div>
                       
                      </div>
                            <div class="row">
                              <div class="col-12">
                                  <p class="text-center">
                                      BADE &copy; <script>
                                          document.write(new Date().getFullYear());
                                      </script>. All rights reserved.
                                  </p>
                              </div>
                          </div>
                       </div>
                </div>
            </div>
            <!-- end of footer -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js" integrity="sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            //get form data and send patch requests to the server
            document.getElementById('updateVanForm').addEventListener('submit',async function (event) {
                event.preventDefault();
                plsWait(true);
                const formData = new FormData(document.getElementById('updateVanForm'));
                const data = {};
                for (const [key, value] of formData.entries()) {
                    data[key] = value;
                }
                await fetch(`/api/v1/Paymentvan?CustomerId=${data.Customer}&user=<%=user._id%>`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                })
                   .then((response) => response.json())
                   .then((data) => {
                       if(data.message){
                        ShowServerResponse(data.message)
                           window.location.reload()
                       }else{
                        throw new Error(data.error)
                       }
                    })
                   .catch((error) => {
                    serverError(error.message)
                    plsWait(false);
                    });
            });
        </script>
    </body>
</html>
