<!doctype html>
<html lang="en">
    <head>
        <title>BADE || DASH</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link rel="icon" type="image/x-icon" href="https://allchannels.com.ng/BADES.jpg">
        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="/sale.css" />
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>
        <style>
            h3 {
     color: #262626;
     font-size: 17px;
     line-height: 24px;
     font-weight: 700;
     margin-bottom: 4px;
   }
   
   p {
     font-size: 17px;
     font-weight: 400;
     line-height: 20px;
     color: #666666;
   
     &.small {
       font-size: 14px;
     }
   }
   
   .go-corner {
     display: flex;
     align-items: center;
     justify-content: center;
     position: absolute;
     width: 32px;
     height: 32px;
     overflow: hidden;
     top: 0;
     right: 0;
     background-color: #00838d;
     border-radius: 0 4px 0 32px;
   }
   
   .go-arrow {
     margin-top: -4px;
     margin-right: -4px;
     color: white;
     font-family: courier, sans;
   }
   
   .card1 {
     display: block;
     position: relative;
     max-width: 262px;
     background-color: #ffffff;
     border-radius: 4px;
     padding: 32px 24px;
     margin: 12px;
     text-decoration: none;
     z-index: 0;
     overflow: hidden;
   
     &:before {
       content: "";
       position: absolute;
       z-index: -1;
       top: -16px;
       right: -16px;
       background: #00838d;
       height: 32px;
       width: 32px;
       border-radius: 32px;
       transform: scale(1);
       transform-origin: 50% 50%;
       transition: transform 0.25s ease-out;
     }
   
     &:hover:before {
       transform: scale(21);
     }
   }
   
   .card1:hover {
     p {
       transition: all 0.3s ease-out;
       color: rgba(255, 255, 255, 0.8);
     }
     h3 {
       transition: all 0.3s ease-out;
       color: #ffffff;
     }
   }
   
   /* card 2 */
   .card2 {
     display: block;
     top: 0px;
     position: relative;
     max-width: 262px;
     background-color:  #ffffff;
     border-radius: 4px;
     padding: 32px 24px;
     margin: 12px;
     text-decoration: none;
     z-index: 0;
     overflow: hidden;
     border: 1px solid #f2f8f9;
   
     &:hover {
       transition: all 0.2s ease-out;
       box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
       top: -4px;
       border: 1px solid #cccccc;
       background-color: white;
     }
   
     &:before {
       content: "";
       position: absolute;
       z-index: -1;
       top: -16px;
       right: -16px;
       background: #00838d;
       height: 32px;
       width: 32px;
       border-radius: 32px;
       transform: scale(2);
       transform-origin: 50% 50%;
       transition: transform 0.15s ease-out;
     }
   
     &:hover:before {
       transform: scale(2.15);
     }
   }

   .folder{
	-webkit-perspective: 400px;
	perspective: 400px;
	width: 120px;
	height: 20px;
	background: #ffd480;
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border-top-right-radius: 5px;
	cursor: pointer;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
  z-index: -1;
}
/* this is for the folder's tab */
.folder::before{
	width: 40px;
	height: 20px;
	content: '';
	background: #ffd480;
	position: absolute;
	top: -20px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
/* this is for the folder's front flap */
.folder::after{
	width: 120px;
	height: 80px;
	position: absolute;
	content: '';
	background: #ffcb66;
	top: 20px;
	box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	/* the transform property rotates the front flap of the folder a bit t0 make it look 3D */
	-webkit-transform: rotateX(-10deg);
	transform: rotateX(-10deg);
	-webkit-transition: all 400ms ease;
	transition: all 400ms ease;
}
/* this is for the piece of paper inside the folder */
.folder-inside{
	width: 115px;
	height: 70px;
	position: absolute;
	background: #fff;
	top:10px;
	left: 9px;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
	-webkit-transform: rotate(-1deg);
	transform: rotate(-1deg);
	border: 1px solid #ddd;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
}
/* this is for the lines on the paper */
.folder-inside::before{
	content: '';
	/* we're going to use linear gradients to create the lines */
	background: -webkit-repeating-linear-gradient(145deg, #ffffff, #ffffff 10px, #333333 7px, #333333 20px);
	background: repeating-linear-gradient(0deg, #ffffff, #ffffff 10px, #333333 10px, #333333 20px);
	position: absolute;
	top: 2px;
	left: 65px;
	width: 50px;
	height: 50px;
	color: #343434;
	font-size: 60px;
	line-height: 60px;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	opacity: 0.15;
}
/* finally let's get this folder to rotate when we hover on it */
.folder:hover{
	-webkit-transform: translate(-50%, -52%);
	transform: translate(-50%, -52%);
}
.folder:hover::after{
	-webkit-transform: rotateX(-15deg);
	transform: rotateX(-15deg);
}
.folder:hover .folder-inside{
	-webkit-transform: rotate(-7deg) translateY(-15%);
	transform: rotate(-7deg) translateY(-15%);
}
       </style>
    
    </head>

    <body>
        <header>
            <%-include('../partials/Notification.ejs')%>
            <!-- place navbar here -->
             <nav class="dash navbar navbar-light bg-light fixed-top">
                <div class="container-fluid">
                    <span  class="navbar-brand" >
                        <a class="navbar-brand" href="/api/v1/Dashboard/<%=user._id%>" title="Apps">
                          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAACXBIWXMAAAsTAAALEwEAmpwYAAAVe0lEQVR4nO1de3RV1Zk/tgvrtJ2RP8bprM60IsvV6XLVtnbWaisCQwyvICbyCCEhEAR5PxIgPJIAImgFCiZIeQQiiKAJqOEhQoJIKC81g4EEEwQDBsiTJDd370todWa6Z/1Ozrl3n3PPPo97TwLVu9f6FneFc863v+/be397f68tSZEWaZEWaZEWaZEWaZEWaZEWaZEWaW60lpaWf/L5fAmU0jcppR8TQmoJIV9TStsopZcJIYWEkHltbW0PhYOHMfYdr9c7gFK6hhBySsFzWwH8Pkkp/aPP5+uPZ8PB5fV6exJC0gkhe0EDaA
                          FNwAMaKaW7fD7fKNAu3S3t9u3bP6GUbieEfEUpZVZACPkbIeRDSmlvJ3gYY9+DQAkhN+zgUXBdJ4TMYYzd6wQXpbQPIaQEfbWJ56+U0tfa29v/XbpTjTH2XULIckLIX+wyyICQ/La2tu52GEQpvRIqHkpptZ0BgL4QQgrCoAezdBl4I3Vl83g891NKD4fBIB6u+ny+X4hwEULmEkL+J1w8+AYhJE2Ex+fzPYq+uEGTx+Mp6rJlDMIghFxwSRgqs276fL5f6nFRSpe4iUeBLD2eW7du/YoQ0uwmnsbGxktXrly5v1OFASVJKX1P1Inr1+rZzteL2Oxp69iIpxez/n3msGeGZLLnxq1im9bvZZWfXTETSsOtW7f+VcXl9XqTRM96vV5WfPhj9sLibWxM/HI2KGqeDEnxy9kLS7axI0
                          WfMK+XmOEap+Lx+Xz/oihpw2crL1SzjesLZRpAC2gCbaBx144iduN6vRBPdXV1aXx8/D90mkCgM4wQt7V52ZaN+9jgqHTW7/HZQoh6IpUtX7qd1dU2iogoAh5K6c8ppe1Gz5w6eZ6lJL5kigcwPukP7PTJchGeW4SQnym4jhg9U3ujUe4r+myGBzRv2bRf5oHRd44ePbpLkqRurgujvb3934yY1NBwk6VOX2fJIB4Shj0vjzwBs4ZTSg8Z/d9bO4vZk0+k2cYT3TuNvbXziAjPQUrpSKP/++xCtdxHJzSlzXhV5oX+Wx6P5+sRI0aMkiTpHlcFgq2t0czQCyNm4FI2buIONiP9EEvNOsZmLihmz07NZ3FPv6x5bmTsEnatps6IUS1GTNr37p+1zO4zjyUkbmRTUvex2RkfyjBl9j6WkLRR/
                          j/+2f2FJ0RCCcJVU1Mn9y3wfiqLi31ZpgG0gCbQNm7CDjZk4NIgoRjNlDNnzpRIkvSo24o86JyRu2FfoEO9Ulni2C0sbXEJS1t83BAmTCtgT3LMAgGi9ZdycOnzGjag71z/e0/FvMBmLigS4gHj8Iz6/MD/mscuX6qxhSttRmCAoa/oswhPalYJS0zOlWlX38HyFTxw277u2bNniiRJ33dFIF6vN9FIgfM6o0MYxy3huRl7WBRHwInjZZZMWpKxNTADByyRZ4MVHjyDZ9X3lmbkWeL5c0lZQN/1SmMTZ7xtiyZZKJxOMVL0OTk56yRJ+p0rAoGJQI9g5/bDGiZhtNjpPGBkfGAUZi3YYsqkutpGWReoyweWJbt4pqTt949e6B4oajNcGfMDjB0Z/6ptPFgVYgYFli/svvTfLi0tPSlJUoIrC
                          p5SWqpHMHtqjr8D0Bn2O3+cTZt7UDOiPJ42IZMO7DvJLVXLHeEBDI1Z7n//4P5TQjye1jZ566w+O33e+47wQKeo70KvBuummuuSJCVKkvTTsAViZD/iFR+UnFNGDYha6H//6pUbQkZt/tNe/3Ojx2xyjCchaZP//dyN+4R4qr+47n9uQNQix3impx/yvx8ftyTo+62tre2KQB53QyBBCp1Xsth5OCVgyKDAtvLTsxeFjFr10i7/c8njtzvGg3fU9/EtER70QX0OfXOKBzzwC7Tv3KDve73e/1UEMiRsgSgmdA2CuJhMfwfMdjwiGBSd4X//84tfChn1p5x3HG8cRAp3w7p3hXg+r7rqf25QdJZjPNjZqe/jRK//fktLi08RyEg3BPKFHsGklFX+DmCP7qzzRbKCVg9vzc2tQkbtfuuoHw/OA04ZxZ9/9uQfFeJpvtmq2TzMXFjsCA94oOKZ/OzqoO/X1tY2KAIZHbZA4FzSI4Btys+op50xKmnsFv+7sAmZ7Xy+uHwtcC54Yg6bMd/+bJyRflh+R30fesIM16yp2f5nk8ZtdURTbGxA8Js3BOuqsrKyjxWBjHBDIOl6BDB98GaMCVPFBygesHvhT9KFb5eYMolSyqY9t5abJStND58BKGHPxK4M7JomrbXE8+6eEs4SkG57p8XPDvDEyIhaUFCwUxHI0LAF0tbW1oMQ8n96JDC+8adaHPqshDE4Osv/ztiEFUKjHOXgo9MVGhNF/Kh1FkIpYSNHBbblgI/OVFjiQV+SR60IbMn7Z1kK5bnpb2usDy8+/3rQd+F5jImJSVUE4shTajZLPjQ6tPFGOJzAcejDOUOjMxYWy8sUPzMG9ZvHyj4V766oDrL/WKBh8JBBy+RZyR9IsdPB3/gdHCB7zW7beLDbgqmFnynou16ngMaR8Tkaq8Po4ctYfV1T0DerqqrKFWEAfu6WQB438jFj6dIa49S9/EL59DooGrsxrQkbwoA/wy6TqOID4U0oAYbNky0FAH6k8iYTvOsEV/GhjzRCURU9dl+giT9D8WcPkb8nLS3teU4gP3RFIIpQ8o0Qwmo7Z+arQZ00AiwJTmYG1U59tm3rQTawXzDj9YBntucdlN8JBRdmCr98mQFoh23P6Dtnz549zQkjSnKzIQjALNjgxPFzsm1K76jCdhK7KShwOzqDWsCXV2vZurV75CVCzxz87dVX3mY1X9aGjQd9haJH3wNbYsV+92Q6W7xwi0yz6P2GhobmRx55ZBInkAcktxsCEuADNyMEdqEr1TfYuU8/lw99LSbnjHDhxo0GVlF+WQb87iw8oAG0gCbQBhrNnm9qaiKJiYnzOWH0cl0YnFB+6SQ+6tsGDQ0NrcnJyQs4YcRKkuQoNsxxo5Q+AB/4nSae3mVQWVl57rHHHpvCCWOYJEmdG32iE8xwkdv12wTNzc2+1atXv8IJAhAnSVL3rhQGokPev9PMoHcJXLhwoWz48OFzFWH0kyTpe10mDEJIMsJp7jQT6F0GHo/nq7KysnSpK1snRRSybxLU1dUt7xJhINbWtCO1jWz/3hOyxRMOIfgzCt78QLbaukmw1+uVg+ZwUFyzMl+G17a8JwfHOT2ZWwH6DhpAC2gCbXAtG5lJeDh79uyLnS2M3ys5H4ahOjBtmAWywWoLQ2E4zGlpaWU7th1icYMDDi49wHn2xvbD8rPh4DpzqpxNnbhGiAeHRZhmRCFG8BLm5eWN7RRhID9DdEo/eOCUbJ+yY2YAvLxip2lgAzUZqXbCSPlw0lBmJmbY+uyAp9IK4LLd+85x0dLV2LNnT2F0f8gNyTKi8E69EQ7RIQhIgD8bblf4JXhHEQCzyYmd6YvL14JmBYIRYIpPHp8nA0zu+Jt+tjgRCvq0eJHWiIm+g4aksbkyTaANNOqNpqKw1fz8/B2umk0Q9Y5sJD0irOH8EoXQSoR2Gnrv5hfJziWeAKz/dpepFG5mgEFgjFEsGP6WPH6bZgBgpthdvqCH+D4+E7eKzZx/2JAmxIjxwXhYwowCvGHTuvfee3FaDyvFzt+UnL6gac0zCaGb1hGFJfKI5i2yMBRaMWnHtkCIDRg9eda7ll48PMMLBTrFCg/CkfiltyNYztw7CZr5sFUI32hTkZmZ+ZIkSf/hikCQYKlHgBwM/8joM0+OurDnfy6RnUvqu7DaWllc47ilCqPfrp87efxrmqXLaveVs2Z3YLYPRiiQvWhMzH7eF/NB8SdB3z5y5MgBxaYVfhQ8sl31CJAso3YAUeh2mQSYMG23xlxuxqTTJ8s1OsNJyCqe5XUKdk1muHjv58Rp5u5oPSDqXn0Xrm39ty9fvnxROcH/yA2B1OkRJI0MTNPJAr0hZtQxzYgyi7ndtjUQdgql7QSPPo749bz3hXgQIM3PeCeCV/WJ+j6yugz0SKsikF+7IZCgTFveCTU746hjRvHKsPz8JSGj1qx8K0BoymuO8YxJyfO/v3ZVvhDP+XOX/M+hb07xgAfq++CNkUlFEUh/NwRy222BDOYEUnH+solA8jn9kReWQF5ZXSDEg0ERlkAWfRB4P3q+gS5s+ytnAQ5bIEFJkUiwVDswJYQlK7r3XFtL1va8cJesnBCXrGNuL1ktikBGuSGQk0FKfQmn1JMcKvWpgZCexBGdq9QHchEiVmYbXqlj4+GEpoTEDaZK/dKlSxddEwildLW7294A4QhI6LRtb8o2R9tebME7a9tbVFS037UlC4Vc9AhAHA5BTg+G/K4HB0M70SFvcNladg+Gk2ZqD4bIn7fCg0MqH2JkHSHZocyHDOYOhmNwMAw2CWVkZLyoCCTarYIB14yWEz48Bspwcupe41GUflgTa2u1plMOYPbghd9hOtkmMJ0ck2eGxnQy5g+stdVjCxe/zZZnVuxKYYD35Nl7NZsT8MLorNPQ0HCzW7duSYpAfiW50VBVx4gAGNR4AmBwQxoZMpdk42Jyrhwdrzcuwmzt2LgYE8hJkWdY1EJ5xmEnBYAC53WGulRZRb3zgD6hb/w30HekQoAW0ATaOswlWuNi/q4PDL+5a9euHZyfPfyDIRpKHClVdVwxv4cSMHel+gabMFab7363m99ra2sbu3fvPpYLB7qnSxxUcNJgZOkj/HhASoCdKHRqAlh6oFP0s0U/K5AlbHeZEgF2ZXwqhMhBJRI6HFRz5sxZxs0OuZyHqw0ljsyIgFsT2a5IsIS7E2lkyFxysmxQm6MY6zX0EE7gAPwGEzvDhQsaQAtoAm2g0cqFq1uqhrpmftc3SmmmmwR/E6GwsDCfE8boTonr5ZvX6x1DKfXdacLpXQawWW3dujVXFzDn/lJl1FDiyKx+1rcNKioqymJjY+fohPGI1JWNUjoiEkpK5VDSNWvWZHOCgImkZ5cJApXYRMW/vs1QVVVVHh0dDfPIP3aZMJQahUFOqwhQmQcej6fBqIZkpzRU77QqGNmRsHNdTm65WHW1UxN2rl+rl/0pAFFamRsAGkBLR8LOdcuEnZaWlraKior/7FRhKCltV83qTWXOz9VU1ekwPaTJ1YOQHuZGStvVKzfkgASjMnz4G6y2dqJZrAB9fWf3MbmggD4iEzQifc+s3ldTU9PNFStWhFXJ27SJigyjLB5fic0MkEhpVmyGWtiZEDdlx0wDqy0MhSEnff53lexoskMTKuMJyhWigsPJTknYIYT0MkqL/kyYFr1ISYvOCjLCIeUYqcdOR+tiXUShbL7oM0+2uAL0tRbVCEmnJ/ciYVp0pkyT3oAJAA9EhT0zMjIWuZ7ShlroekRwvWoLB6TJPgR99YOZC47ItUOQhM8LxclMWbsq4FsHPDVomRyqoy0cUCJ7+vi4LwCKDtjFc7a0Sls4oG+63HfQwNM0be77sqWZLxwAXhiVwK2srLzgatInbjQwmh28Gxej06pGoVxao3+WZvmyo1POnCrXjkbLiEJthCTATtQ9+sIvUx2lNcyLs6GcCO8tXGFeWsMd84mo+EygyHCqafVOvVD4mQJFb8WoqVxKAGJt7Raf4WOJYbW1wgMFzs8MK2EYxQhYFJ9xp3CAcn+GuDxTbBjlmabmOCrPNFMQ+Cz0dXOOMSvfSDjlmfi6XChLqP92WVnZJ66V1jByTKEWutPSTH6dsrBYU8DM7JxS8GYg3gkuYCd4wipgptMZlrNkSkDHTRpvWsAs/OIzlFKv+yX+Mm2V+Fuf/Y0p8dfuWnmmSBHM424WwRz6910mdsO+b1qZ2PBL/FFKP9EjQIUctQMoIuyk89PmvqepqmO3kPLQEAop88k0VoWU+XhlnDOc4Bk7cYdpTXuukHL4RTAppTv1CBB4Fnqp8UC8LUocme186uuaQi41jrgpfvNQX2/uA4cdLpQ4YtCOWyHUd5F3qf92aWnpCdfKxCrX4QUFJ2uK8Sfn2uo8ahRqi/GL601RBfg4KfvF+I9qgtjsFOOHoTBgdUi1rCGpQuKYzZoZb1SMf+3atTmKQGLCFkhTU9MPlavhNEhwNYPmuorkXNOZguqd/Kl27qz1lkyiSogRb87ouK6i2PT8wYd34l278VlYbjTXVUy1uK5CFkZggOVtPmB4XcWDDz74rGulxtFwT18wIq+GADUTF+splFxq5jGZORAEX9dWVXxG/ovm5mbDwAlcyhJ0oUvSRjl0FbMBgN+IQtfXXoQeMvqmES5YbfXGUpxlcM4ALaAJtIFGPumoQ3esMzQFnT59+hjn2v2JKwJpb2//sejKI71QrAB5haKCkatXr34FVXVEYatmgXh6wLOi8M6KiopP4QM3+r/KkK48Wie68uirfv36zVCE4c51FWrDpYnCS8E27be8FAx2HhjfRJeCVVZWnkPHUeLI4/EELZHyaDtZrgm8FgECrEVJnh6P5y9qdAh84EbPoI/oq9WlYNAZWzeLLwU7cODAHm52/FZysyEK3uPxGF7YBYAye/ONYnm0YNr37zuHDXsqS66FjvOE2bV5SIp8jKvEVlpaOl30LML9kZ+CxBhYjDEQAPiNvyE/w+zavA0bNmxU8URFRcXCBy56Fn2GbQo0gBbQBNpAI2g1uzavsrLy/H333TeGi0Jx58ojvuEGS1yaKOpEKICCkboahf2ACyWO3MQDKCwsLODwxCM6BAEJ8IG7iaempqbmoYcemsDhcr/eidpwg2V1dfVHbnS8rq6uSVe9M46vxFZeXv4CzA7h4sE3dLG2gB4qnqqqqt/U19c3uhUwx+2q1AHm7rV5+paSknIfLk2E0gql03DaoMjwww8/PFFXMLK7HhdKHKGqTqgMQkqArrq0YURhVlbWg/CBh4oHmbbQGVxyjnrucP9iSUHrNmzYsJG4pw97bZsj9W9VVVUVs2bNWqpj0NNmwQAocYSqOijkYpdByFzCrODyM1TThVms7f0ZGRkL4HZFX20K4mtsbXv37j1dR1PfrhSG2jAVH+3Ro0dKdnZ2Dm4jg92mpaVFrseIf2tra+vhoIHXLDo6epau02qR4W42cD2Aqjoo5ILaIShXgc0AZikAv5HtWlRUdAA5fbqRqlpa7bhREZDQa8CAAbPR53PnzpWCBp4m0AhzCGjWLU+qAv9Fpy9TFu37yj19CQYMN4LRikvznx3i+Y5SVSfWJh41c+lnIeRnPKD0cbRNPAnK1rbzLiQOoXVTroZ7XFk/R3Bm56GKgwZesx+EieceJV/v10q5ijhlZI5SfkcrCZY/cmGk/kDpc2+FBp6mGIXWn96J5SnSIi3SIi3SIi3SIi3SIk36+2v/D2fJJsBcmNmHAAAAAElFTkSuQmCC" width="30" height="30">
                        </a>
                         <b>POINT OF SALES</b>
                      </span>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar"
                        aria-controls="offcanvasNavbar"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div
                        class="offcanvas offcanvas-end"
                        tabindex="-1"
                        id="offcanvasNavbar"
                        aria-labelledby="offcanvasNavbarLabel"
                    >
                        <div class="dash offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                                Menu
                            </h5>
                            <button
                                type="button"
                                class="btn-close text-reset"
                                data-bs-dismiss="offcanvas"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="offcanvas-body">
                          <%-include('../partials/USER.ejs')%>
                            <%if(user.isAdmin || user.isManager){%>
                                <h6>Register New Van</h6>
                                <form class="list-group mt-2 mb-5" id="form">
                                  <div class="list-group-item list-group-item-action"
                                    >
                                    <label for="WHName" class="form-label">Name</label>
                                    <input type="text" required id="WHName" placeholder="Ware-house Name" name="WHName"  class="form-control" autocomplete="off" autocapitalize="on" required value="VAN-"/>
                                  </div>
                                  <div class="list-group-item list-group-item-action"
                                    >
                                    <label for="Driver" class="form-label">Driver</label>
                                    <select name="Driver" required id="Driver" class="form-select">
                                        <option selected disabled>Choose ....</option>
                                        <%employees.forEach(employe=>{%>
                                       <option value="<%=employe._id%>"><%=employe.firstName%> <%=employe.lastName%></option>
                                       <% })%>
                                    </select>
                                  </div>
    
                                  <div class="list-group-item list-group-item-action"
                                  >
                                  <label for="Location" class="form-label">Location</label>
                                  <select name="Location" required id="Location" class="form-select">
                                      <option selected disabled>Choose ....</option>
                                    <%Locations.forEach(Location=>{%>
                                     <option value="<%=Location._id%>"><%=Location.WHName%></option>
                                     <% })%>
                                  </select>
                                </div>

                                  <div class="list-group-item list-group-item-action"
                                  >
                                  <label for="Managers" class="form-label">Manager</label>
                                  <select name="Managers" required id="Managers" class="form-select">
                                    <option selected disabled >Choose ....</option>
                                    <%manager.forEach(employe=>{%>
                                    <option value="<%=employe._id%>"><%=employe.firstName%> <%=employe.lastName%></option>
                                    <% })%>
                                  </select>
                                  </div>
    
                                  <div class="list-group-item list-group-item-action"
                                    >
                                    <label for="plates" class="form-label"> Plate Number</label>
                                    <input type="text" id="plates" required placeholder="Plate Number" name="plates" class="form-control"/>
                                  </div>
                                
                                  <div class="list-group-item list-group-item-action"
                                    >
                                    <label for="InvoiceNo" class="form-label"> Invoice ref No</label>
                                    <input type="text" required class="form-control"  name="InvoiceNo" id="InvoiceNo"/>
                                  </div>
                                 
                                  <div class="list-group-item list-group-item-action"
                                    >
                                    <label for="InvoiceNo" class="form-label"> All done</label>
                                    <button class="btn btn-success form-control">Add Van</button>
                                  </div>
                                </form>
                                <%}%>
                        </div>
                    </div>
                </div>
             </nav>
             
        </header>
        <main class="pt-4 " style="height: 100dvh;">
            <!-- place your content here -->
            <% if (Vans.length > 0 ) { %>
            <div class="overflow-auto flex-wrap d-flex mt-5 p-2">
              <!-- customers folder -->
              <%if(user.isAdmin || user.isManager ){%>
                <a class="card1 shadow-sm"  href="/api/v1/Retail/customer?manager=<%=user._id%>">
                  <h6 class="text-dark">Customer List</h6>
                  <p class="small">Manage customer list from all your van sales Rep...</p>
                  <div class="container">
                    <div class="folder">
                      <div class="folder-inside"></div>
                    </div>
                  </div>
                </a>
                <% } %>

             <% Vans.forEach(WH => { %>
                <a class="card2 card2 m-1 mb-3 shadow rounded animate__bounceIn"  href="/api/v1/POS/Van?van=<%=WH._id%>" data-doc="<%=WH._id%>" title="Set up <%=WH.name.toUpperCase()%>">
                    <img width="50" height="50" src="/images/icons8-delivery.gif" alt="delivery"/>
                  <div></div>
                    <b><%=WH.name.toUpperCase()%>/[<%=WH.VehiclePlate.toUpperCase()%>]</b>
                    <p class="small text-success">Manage Operations and product for <%=WH.name%>  </p>
                   <br>
                  

                <div class="form-check form-switch col-4">
                 
                  <label class="form-check-label" for="isManager">
                      <i class="small"> <%= WH.status %></i>
                  </label>
                </div>


                    <i class="small">
                        <% const employee = employees.filter(staff =>{%>
                            <%return staff._id.toString() === WH.Driver.toString() %>
                        <%}) %>
                        Driver Assigned: <img src="<%= employee[0].image ? employee[0].image : 'https://cdn.pixabay.com/photo/2019/08/11/18/59/icon-4399701_640.png' %>" 
                        alt="<%= employee[0].firstName %> photo"  width="30" height="30" class="rounded" title="<%= employee[0].firstName %> <%= employee[0].lastName %>"  style="background-image: url('<%=employee[0].image%>');filter: drop-shadow(5px 2px 5px rgba(19, 20, 19, 0.568));transition: 0.5s;"/>
                    </i>
                    <div class="go-corner"  href="/api/v1/SetUp/<%=WH._id%>/<%=user._id%>?page=1&limit=15'">
                      <div class="go-arrow">
                        →
                      </div>
                    </div>
                  </a>
                  
             <% }) %>
            </div>
            <% }else{%>
                <p class="form-text text-muted">Nothing to show</p>
                
           <% } %>
        </main>
        <footer style="z-index: 3 !important;">
            <!-- place footer here -->
            <div class="container-fluid fixed-bottom bg-dark-subtle ">
                <div class="row p-2">
                      <div>
                       
                      </div>
                            <div class="row">
                              <div class="col-12">
                                  <p class="text-center">
                                      BADE &copy; <script>
                                          document.write(new Date().getFullYear());
                                      </script>. All rights reserved.
                                  </p>
                              </div>
                          </div>
                       </div>
                </div>
            </div>
            <!-- end of footer -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
    <script>

        //generate invoice reference
        const invoiceRef = ()=>{
          return text =  Math.floor(Math.random()* 1993);
        };

      //get and idisplay invoice ref on form input
      document.getElementById("InvoiceNo").value = invoiceRef()
        //get form data
        const form = document.getElementById('form');
        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            plsWait(true);

            //get form data
            const name =form.WHName.value;
            const Driver = form.Driver.value;
            const location = form.Location.value;
            const VehiclePlate = form.plates.value;
            const InvoiceReference = form.InvoiceNo.value;
            const Manager = form.Managers.value;
            //make a post request to the server
            const request = await fetch('/api/v1//POS/NeWVan', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ name, Driver, location, VehiclePlate, InvoiceReference,Manager }),
              })
              const response = await request.json()
              if(response.message){
                ShowServerResponse(response.message);
                form.reset();
                plsWait(false)
              }else{
                serverError(response.error)
                plsWait(false)
              }
             
        },{once:true});
    </script>
</html>
